<!doctype html>
<html lang="en-US">
<head lang="en">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=yes"/>
    <title></title>
    <link rel="shortcut icon" href="../../images/favicon.ico">
</head>
<body>

<div class="siteContent">
    <header class="siteHeader">
        <div class="siteHeader-info">
            <div class="container">
                <div class="row siteHeader-info-line">
                    <div class="col-xs-6 col-sm-4 col-md-3">
                        <div class="siteHeader-logo">
                            <img src="../../images/logo(color).png">
                            <h1 class="siteHeader-logo-title">Завод Лабораторного Оборудования</h1>
                        </div>
                    </div>
                    <div class="hidden-xs col-sm-6 col-md-7">
                        <div class="siteHeader-search">
                            <form class="form-inline">
                                <input type="search" class="form-control" id="exampleInputName2" placeholder="Поиск ...">
                                <button type="submit" class="btn btn-third">Начать</button>
                            </form>
                        </div>
                    </div>
                    <div class="col-xs-6 col-sm-2 col-md-2">
                        <div class="siteHeader-numbers">
                            <p><img src="../../images/call.png" alt="" class="phone-shake">Позвоните нам</p>
                            <a href="tel:380500000000">+38 (050) 000 00 00</a>
                            <a href="tel:380500000000">+38 (050) 000 00 00</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <nav class="siteHeader-nav clearfix">
            <div class="container siteHeader-nav-wrp">
                <div class="siteHeader-items">
                    <div class="siteHeader-logo no-display">
                        <img src="../../images/logo(color).png">
                        <h1 class="siteHeader-logo-title">Завод Лабораторного Оборудования</h1>
                    </div>
                    <div class="burger-menu-wrp"> 
                        <a class="burger-menu no-display"></a>
                        <a href="/" class="siteHeader-nav-mobButton js-toggle btn btn-primary menu-btn" aria-label="Open Navigation" data-toggle=".siteHeader-nav">
                        Меню
                    </a>
                    </div>
                    <a href="/" class="btn btn-secondary popup-btn no-display price-downl" data-mfp-src="#price-downl-popup">Скачать прайс</a>
                    <ul>
                        <li><a href="#" class="js-toggle" aria-label="Open Navigation" data-toggle=".siteHeader-catalogue"><span class="siteHeader-btn">
    					<span class="burger-menu"></span>
              			<span class="burger-menu"></span>
              			<span class="burger-menu"></span>
              		</span>
                            <span>Каталог товаров</span></a></li>
                        <li><a href="#">Акции</a></li>
                        <!-- <li><a href="#">Статьи</a></li> -->
                        <li><a href="#">О компании</a></li>
                        <li><a href="#">Оплата и Доставка</a></li>
                        <!-- <li><a href="#">Дилерские сертификаты</a></li> -->
                        <li><a href="#">Контакты</a></li>
                        <li><a href=""></a></li>
                        <li><a href=""></a></li>
                        <li><a href=""></a></li>
                        <li><a href=""></a></li>
                        <li><a href="/" class="btn btn-secondary popup-btn" data-mfp-src="#price-downl-popup">Скачать прайс</a></li>
                    </ul>
                     <div class="siteHeader-numbers no-display">
                        <p><img src="../../images/call.png" alt="" class="phone-shake"> Позвоните нам</p>
                        <div>
                            <a href="tel:380500000000">+38 (050) 000 00 00</a>
                            <a href="tel:380500000000">+38 (050) 000 00 00</a>
                        </div>
                        
                    </div>
                </div>
            </div>
        </nav>

                        <!-- POP-UP PRICE -->
        <div class="mfp-hide">
            <div id="price-downl-popup" class="order-popup">
                <div class="container">
                    <div class="row">
                        <div class="col-md-8 col-md-offset-2 col-xs-12">
                            <div class="row container-popup">
                                <div class="col-md-6 col-sm-6 container-popup-img">
                                    <img src="../../images/pop-up/price.png">
                                </div>
                                <div class="col-md-6 col-sm-6 col-xs-12 container-popup-text">
                                    <div class="col-md-12">
                                        <h5 class="container-popup-title">Скачайте прайс</h5>
                                        с полным списком наших товаров
                                    </div>
                                    <div class="col-md-12"><img src="../../images/pop-up/price-download.png" alt=""> 
                                    </div>
                                    <div class="col-md-12 form-item">
                                        <label class="visually-hidden" for="cname">Ваш номер телефона</label>
                                        <input type="text" id="cname" name="cname" placeholder="Ваш номер телефона">
                                    </div>
                                    <div class="col-md-12"><a href="#" class="btn btn-secondary">Скачать прайс</a></div>
                                    <div class="col-md-12"><span class="container-popup-text-file">price.pdf</span></div>
                                </div>
                                <button title="Close (Esc)" type="button" class="mfp-close">×</button>
                            </div>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>

        <div class="siteHeader-catalogue">
            <div class="container">
                <div class="row">
                    <div class="col-sm-4 col-md-3">
                        <ul>
                            <li><a href="#">Лабораторные влагомеры</a></li>
                            <li><a href="#">Портативные влагомеры</a></li>
                            <li><a href="#">Микровесы</a></li>
                            <li><a href="#">Аналитические весы</a></li>
                            <li><a href="#">Лабораторные весы</a></li>
                            <li><a href="#">Приборы неразрушающего контроля НОВОТЕСТ</a></li>
                            <li><a href="#">Твердомеры новотест</a></li>
                            <li><a href="#">Аквадистилляторы</a></li>
                            <li><a href="#">Центрифуги</a></li>
                            <li><a href="#">Микроскопы</a></li>
                            <li><a href="#">Термостаты</a></li>
                            <li><a href="#">Стерилизаторы медицинские</a></li>
                        </ul>
                    </div>
                    <div class="col-sm-4 col-md-3">
                        <ul>
                            <li><a href="#">Бани лабораторные</a></li>
                            <li><a href="#">Колбонагреватели</a></li>
                            <li><a href="#">Лабораторные мельницы</a></li>
                            <li><a href="#">Лабораторные шейкера</a></li>
                            <li><a href="#">Магнитные мешалки</a></li>
                            <li><a href="#">рНметры</a></li>
                            <li><a href="#">УЗМ ультразвуковые мойки</a></li>
                            <li><a href="#">Аспиратор</a></li>
                            <li><a href="#">Муфельные печи</a></li>
                            <li><a href="#">Сушильные шкафы</a></li>
                            <li><a href="#">Лабораторная мебель</a></li>
                            <li><a href="#">Медицинская мебель</a></li>
                        </ul>
                    </div>
                    <div class="col-sm-4 col-md-3">
                        <ul>
                            <li><a href="#">Медицинское оборудование</a></li>
                            <li><a href="#">Счетные весы</a></li>
                            <li><a href="#">Торговые весы</a></li>
                            <li><a href="#">Настольные весы</a></li>
                            <li><a href="#">Медицинские весы</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </header>
<main>
    <section class="siteSection siteSection--noPad siteSection--gray">
        <div class="container">
            <div class="breadcrumbs">
                <ul>
                    <li><a href="#">Каталог</a></li>
                    <li><a href="#">404-страница</a></li>
                </ul>
            </div>  
        </div>
    </section>
<section>
    <div class="container">
        <div class="row">
            <div class="img-wrp">
                <img src="../../images/404 NOT PAGE.png" alt="">
            </div>
        </div>
    </div>
</section>
</main>
<footer class="siteFooter">
    <nav class="siteFooter-nav clearfix">
        <div class="container">
            <div class="up-btn-wrp">
                <div class="up-btn">
                    <a href="#">
                        <img src="../../images/arrow-up.png" alt="">
                    </a> 
                </div>
                <span>вверх</span>
            </div>
            <div class="siteFooter-items footer">
                <ul class="footer-nav">
                    <li class="logo-footer-wrap"><img src="../../images/logo(white).png" alt="logo" srcset=""><h1 class="siteHeader-logo-title">Завод Лабораторного Оборудования</h1></li>
                    <li><a href="#" class="js-toggle" aria-label="Open Navigation" data-toggle=".siteHeader-catalogue"><span class="siteFooter-btn">
                    <span></span>
                    <span></span>
                    <span></span>
                </span>
                        <span>Каталог товаров</span></a></li>
                    <li><a href="#">Акции</a></li>
                    <!-- <li><a href="#">Статьи</a></li> -->
                    <li><a href="#">О компании</a></li>
                    <li><a href="#">Оплата и Доставка</a></li>
                    <!-- <li><a href="#">Дилерские сертификаты</a></li> -->
                    <li><a href="#">Контакты</a></li>
                    <li> <div class="siteFooter-numbers">
                            <a href="tel:380500000000">+38 (050) 000 00 00</a>
                            <a href="tel:380500000000">+38 (050) 000 00 00</a>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="row">
                <div class="col-md-12 copyright">
                    <p>© Завод Лабораторного Оборудования 2018 Все права защищены</p>
                </div>
            </div>
        </div>
    </nav>
</footer>
</body>
</html>