<!doctype html>
<html lang="en-US">
<head lang="en">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=yes"/>
    <title></title>
    <link rel="shortcut icon" href="#">
</head>
<body>

<div class="siteContent">
    <header class="siteHeader">
        <div class="siteHeader-info">
            <div class="container">
                <div class="row siteHeader-info-line">
                    <div class="col-xs-6 col-sm-4 col-md-3">
                        <div class="siteHeader-logo">
                            <img src="../../images/logo(color).png">
                            <h1 class="siteHeader-logo-title">Завод Лабораторного Оборудования</h1>
                        </div>
                    </div>
                    <div class="hidden-xs col-sm-6 col-md-7">
                        <div class="siteHeader-search">
                            <form class="form-inline">
                                <input type="search" class="form-control" id="exampleInputName2" placeholder="Поиск ...">
                                <button type="submit" class="btn btn-third">Начать</button>
                            </form>
                        </div>
                    </div>
                    <div class="col-xs-6 col-sm-2 col-md-2">
                        <div class="siteHeader-numbers">
                            <p><img src="../../images/call.png" alt="" class="phone-shake">Позвоните нам</p>
                            <a href="tel:380500000000">+38 (050) 000 00 00</a>
                            <a href="tel:380500000000">+38 (050) 000 00 00</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <nav class="siteHeader-nav clearfix">
            <div class="container siteHeader-nav-wrp">
                <div class="siteHeader-items">
                    <div class="siteHeader-logo no-display">
                        <img src="../../images/logo(color).png">
                        <h1 class="siteHeader-logo-title">Завод Лабораторного Оборудования</h1>
                    </div>
                    <div class="burger-menu-wrp"> 
                        <a class="burger-menu no-display"></a>
                        <a href="/" class="siteHeader-nav-mobButton js-toggle btn btn-primary menu-btn" aria-label="Open Navigation" data-toggle=".siteHeader-nav">
                        Меню
                    </a>
                    </div>
                    <a href="/" class="btn btn-secondary popup-btn no-display price-downl" data-mfp-src="#price-downl-popup">Скачать прайс</a>
                    <ul>
                        <li><a href="#" class="js-toggle" aria-label="Open Navigation" data-toggle=".siteHeader-catalogue"><span class="siteHeader-btn">
    					<span class="burger-menu"></span>
              			<span class="burger-menu"></span>
              			<span class="burger-menu"></span>
              		</span>
                            <span>Каталог товаров</span></a></li>
                        <li><a href="#">Акции</a></li>
                        <!-- <li><a href="#">Статьи</a></li> -->
                        <li><a href="#">О компании</a></li>
                        <li><a href="#">Оплата и Доставка</a></li>
                        <!-- <li><a href="#">Дилерские сертификаты</a></li> -->
                        <li><a href="#">Контакты</a></li>
                        <li><a href=""></a></li>
                        <li><a href=""></a></li>
                        <li><a href=""></a></li>
                        <li><a href=""></a></li>
                        <li><a href="/" class="btn btn-secondary popup-btn" data-mfp-src="#price-downl-popup">Скачать прайс</a></li>
                    </ul>
                     <div class="siteHeader-numbers no-display">
                        <p><img src="../../images/call.png" alt="" class="phone-shake"> Позвоните нам</p>
                        <div>
                            <a href="tel:380500000000">+38 (050) 000 00 00</a>
                            <a href="tel:380500000000">+38 (050) 000 00 00</a>
                        </div>
                    </div>
                    <div class="filter-burger-btn-wrp no-display">
                        <button type="button" class="navbar-toggle collapsed filter-burger-btn" data-toggle="mobile-side" data-target="#fixedmenu" aria-expanded="false" aria-controls="navbar">
                                <span class="sr-only">Toggle navigation</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                        </button>
                        <span>фильтры</span>
                    </div>
                    
                </div>
            </div>
        </nav>

                        <!-- POP-UP PRICE -->
        <div class="mfp-hide">
            <div id="price-downl-popup" class="order-popup">
                <div class="container">
                    <div class="row">
                        <div class="col-md-8 col-md-offset-2 col-xs-12">
                            <div class="row container-popup">
                                <div class="col-md-6 col-sm-6 container-popup-img">
                                    <img src="../../images/pop-up/price.png">
                                </div>
                                <div class="col-md-6 col-sm-6 col-xs-12 container-popup-text">
                                    <div class="col-md-12">
                                        <h5 class="container-popup-title">Скачайте прайс</h5>
                                        с полным списком наших товаров
                                    </div>
                                    <div class="col-md-12"><img src="../../images/pop-up/price-download.png" alt=""> 
                                    </div>
                                    <div class="col-md-12 form-item">
                                        <label class="visually-hidden" for="cname">Ваш номер телефона</label>
                                        <input type="text" id="cname" name="cname" placeholder="Ваш номер телефона">
                                    </div>
                                    <div class="col-md-12"><a href="#" class="btn btn-secondary">Скачать прайс</a></div>
                                    <div class="col-md-12"><span class="container-popup-text-file">price.pdf</span></div>
                                </div>
                                <button title="Close (Esc)" type="button" class="mfp-close">×</button>
                            </div>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>

        <div class="siteHeader-catalogue">
            <div class="container">
                <div class="row">
                    <div class="col-sm-4 col-md-3">
                        <ul>
                            <li><a href="#">Лабораторные влагомеры</a></li>
                            <li><a href="#">Портативные влагомеры</a></li>
                            <li><a href="#">Микровесы</a></li>
                            <li><a href="#">Аналитические весы</a></li>
                            <li><a href="#">Лабораторные весы</a></li>
                            <li><a href="#">Приборы неразрушающего контроля НОВОТЕСТ</a></li>
                            <li><a href="#">Твердомеры новотест</a></li>
                            <li><a href="#">Аквадистилляторы</a></li>
                            <li><a href="#">Центрифуги</a></li>
                            <li><a href="#">Микроскопы</a></li>
                            <li><a href="#">Термостаты</a></li>
                            <li><a href="#">Стерилизаторы медицинские</a></li>
                        </ul>
                    </div>
                    <div class="col-sm-4 col-md-3">
                        <ul>
                            <li><a href="#">Бани лабораторные</a></li>
                            <li><a href="#">Колбонагреватели</a></li>
                            <li><a href="#">Лабораторные мельницы</a></li>
                            <li><a href="#">Лабораторные шейкера</a></li>
                            <li><a href="#">Магнитные мешалки</a></li>
                            <li><a href="#">рНметры</a></li>
                            <li><a href="#">УЗМ ультразвуковые мойки</a></li>
                            <li><a href="#">Аспиратор</a></li>
                            <li><a href="#">Муфельные печи</a></li>
                            <li><a href="#">Сушильные шкафы</a></li>
                            <li><a href="#">Лабораторная мебель</a></li>
                            <li><a href="#">Медицинская мебель</a></li>
                        </ul>
                    </div>
                    <div class="col-sm-4 col-md-3">
                        <ul>
                            <li><a href="#">Медицинское оборудование</a></li>
                            <li><a href="#">Счетные весы</a></li>
                            <li><a href="#">Торговые весы</a></li>
                            <li><a href="#">Настольные весы</a></li>
                            <li><a href="#">Медицинские весы</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <main>
    <section class="siteSection siteSection--noPad siteSection--gray">
        <div class="container">
            <div class="breadcrumbs">
                <ul>
                    <li><a href="#">Каталог</a></li>
                    <li><a href="#">Весы</a></li>
                    <li><a href="#">Микровесы</a></li>
                    <li>Микровесы Radwag MYA 5.4Y.F d 100mm (для взвешивания фильтров)</li>
                </ul>
            </div>    </div>
    </section>
    <section class="siteSection siteSection--gray">
        <div class="container">
            <h2 class="u-text--center">Влагомеры</h2>
            <button type="button" class="navbar-toggle collapsed" data-toggle="mobile-side" data-target="#fixedmenu" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <div class="row">
                <div class="col-md-3 hidden-sm hidden-xs">
                    <div class="filterList">
                        <div class="filterList-category">
                            <div class="filterList-category-item">
                                <div class="filterList-category-img">
                                    <img src="../../images/product-1.png" alt="">
                                </div>
                                <div class="filterList-category-text">
                                    <a href="#">Кислородное оборудование и сопутствующие товары</a>
                                </div>
                            </div>
                            <div class="filterList-category-item">
                                <div class="filterList-category-img">
                                    <img src="../../images/product-2.png" alt="">
                                </div>
                                <div class="filterList-category-text">
                                    <a href="#">Кислородное оборудование и сопутствующие товары</a>
                                </div>
                            </div>
                            <div class="filterList-category-item">
                                <div class="filterList-category-img">
                                    <img src="../../images/product-3.png" alt="">
                                </div>
                                <div class="filterList-category-text">
                                    <a href="#">Отсасыватели хирургические</a>
                                </div>
                            </div>
                            <div class="filterList-category-item">
                                <div class="filterList-category-img">
                                    <img src="../../images/product-1.png" alt="">
                                </div>
                                <div class="filterList-category-text">
                                    <a href="#">Дозаторы шприцевые и насосы инфузионные</a>
                                </div>
                            </div>
                            <div class="filterList-category-item">
                                <div class="filterList-category-img">
                                    <img src="../../images/product-2.png" alt="">
                                </div>
                                <div class="filterList-category-text">
                                    <a href="#">Негатоскопы</a>
                                </div>
                            </div>
                            <div class="filterList-category-item">
                                <div class="filterList-category-img">
                                    <img src="../../images/product-3.png" alt="">
                                </div>
                                <div class="filterList-category-text">
                                    <a href="#">Офтальмологическое оборудование</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-9">
                    <div class="row">
                        <div class="col-sm-6 col-md-4">
                            <div class="categoryList-item">
                                <div class="categoryList-img">
                                    <a href="#"><img src="../../images/product.png" alt=""></a>
                                </div>
                                <div class="categoryList-title">
                                    <a href="#">Анализатор влажности весовой МА 50.Х RADWAG</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-4">
                            <div class="categoryList-item">
                                <div class="categoryList-img">
                                    <a href="#"><img src="../../images/product-1.png" alt=""></a>
                                </div>
                                <div class="categoryList-title">
                                    <a href="#">Анализатор влажности весовой МА 50.Х RADWAG</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-4">
                            <div class="categoryList-item">
                                <div class="categoryList-img">
                                    <a href="#"><img src="../../images/product-2.png" alt=""></a>
                                </div>
                                <div class="categoryList-title">
                                    <a href="#">Анализатор влажности весовой МА 50.Х RADWAG</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="productContainer clearfix">
                        <h2 class="h2"><img src="../../images/icon/heavy-weight.png" alt=""><span>Купить весы: что предлагают производители</span></h2>
                        <p><b>Весы</b> – один из старейших измерительных приборов. Подобное оборудование различается устройством, размерами, стоимостью. На <b>весы цена в Украине</b> может быть различной в зависимости от назначения выбранных приборов. Небольшими экземплярами пользуются в химических лабораториях, фармацевтических учреждениях, торговле, быту. Крупные установки незаменимы на предприятиях, железнодорожных станциях, строительстве – везде, где необходимы взвешивание, контроль, учет продукции.</p>
                        <h3 class="h3"><img src="../../images/icon/coin-stack.png" alt=""><span>На весы цена зависит от типа прибор</span></h3>
                        <p>Производители предлагают широкий выбор моделей. Одним из самых престижных и дорогостоящих приборов специалисты называют микровесы для точнейшего взвешивания редких и дорогих компонентов. Они используются в косметической, фармацевтической практике. Пользуются спросом варианты Меттлер Толедо, Radwag, их стоимость превышает 1000 у.е. Другие <b>весы стоимостью</b> 4-5 тысяч грн. вполне доступны большей части покупателей. Это такие группы взвешивающего оборудования:</p>
                        <ul>
                            <li>— Счетные модели. Их задача – считать количество мелких предметов с одинаковым весом. Обычно оснащены тремя дисплеями, на которых отображаются данные о взвешивании (общий результат, по одной единице) и количестве предметов.</li>
                            <li>— Торговые модели. Их устройство и марки различны, в зависимости от того, где их собирается использовать потребитель. Варианты для уличного применения имеют дополнительную влаго- и пылезащиту.</li>
                            <li>— Медицинские изделия предназначены для определения массы человека, используются в спортивных, лечебных, образовательных учреждениях. Специально для больниц выпускаются варианты Radwag Wpt-K в формате кресла и Radwag Wpt-8b для взвешивания лежачих больных.</li>
                            <li>— Крановые варианты незаменимы при погрузке и разгрузке, складских работах. Выпускаются под маркой ВКР, могут взвешивать до 3, 5, 10, 20 т.</li>
                            <li>— Платформенные устройства позволяют определять массу продукции от 2 кг до 2 т.</li>
                        </ul>
                        <p>Есть и другие подгруппы изделий: паллетные, реечные, монорельсовые, карманные, с рольгангами и др. В ассортименте представлены дополнительные аксессуары к ним.</p>
                        <h3 class="h3"><img src="../../images/icon/refund.png" alt=""><span>Купить весы в Украине – это просто!</span></h3>
                        <p>Разнообразие моделей и представленных в каталоге производителей позволяет быстро определиться с предложениями и <b>купить весы недорого</b>.</p>
                        <p>Чтобы выбрать подходящий товар, сравните представленные в электронном каталоге модели, обратите особое внимание на производителей. Наиболее популярными считаются торговые марки Certus (Китай), украинская «Техноваги», южнокорейская CAS, AXIS- Украина, DIGI (Япония), «Днепровес» и «Мир весов» (Украина). Они предлагают варианты оборудования от микромоделей до монорельсовых, платформенных, крановых устройств крупной грузоподъемности.</p>
                        <p>Тонкости выбора каждой группы весового оборудования индивидуальны. Обращайте внимание на:</p>
                        <ul>
                            <li>— Погрешность;</li>
                            <li>— Назначение;</li>
                            <li>— Габариты;</li>
                            <li>— Минимальный и максимальный вес;</li>
                            <li>— Дополнительные функции.</li>
                        </ul>
                        <h3 class="h3"><img src="../../images/icon/shopping-cart_icon-icons.com_56125.png" alt=""><span>Как купить весы в интернет-магазине?</span></h3>
                        <p>«Химтест Украина +» предлагает <b>весы купить по цене</b>, которая наиболее приемлема для вас. Ассортимент оборудования в нашем каталоге постоянно пополняется и расширяется, поэтому вы всегда сможете приобрести в интернет-магазине необходимое вам устройство.</p>
                        <p>Поскольку все оборудование необходимо сертифицировать, проверять, налаживать, <b>купить весы в интернете</b> можно только у проверенных партнеров, которые предоставляют гарантию на товар. Наши специалисты занимаются не только гарантийным и постгарантийным обслуживанием, но также возьмут на себя установку и налаживание работы агрегатов.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>    
</main>
</div>
<nav class="visible-sm visible-xs navbar-default mobile-menu-container mobile-effect" role="navigation">
    <div class="filterList">
        <div class="filterList-category">
            <div class="filterList-category-item">
                <div class="filterList-category-img">
                    <img src="../../images/product-1.png" alt="">
                </div>
                <div class="filterList-category-text">
                    <a href="#">Кислородное оборудование и сопутствующие товары</a>
                </div>
            </div>
            <div class="filterList-category-item">
                <div class="filterList-category-img">
                    <img src="../../images/product-2.png" alt="">
                </div>
                <div class="filterList-category-text">
                    <a href="#">Кислородное оборудование и сопутствующие товары</a>
                </div>
            </div>
            <div class="filterList-category-item">
                <div class="filterList-category-img">
                    <img src="../../images/product-3.png" alt="">
                </div>
                <div class="filterList-category-text">
                    <a href="#">Отсасыватели хирургические</a>
                </div>
            </div>
            <div class="filterList-category-item">
                <div class="filterList-category-img">
                    <img src="../../images/product-1.png" alt="">
                </div>
                <div class="filterList-category-text">
                    <a href="#">Дозаторы шприцевые и насосы инфузионные</a>
                </div>
            </div>
            <div class="filterList-category-item">
                <div class="filterList-category-img">
                    <img src="../../images/product-2.png" alt="">
                </div>
                <div class="filterList-category-text">
                    <a href="#">Негатоскопы</a>
                </div>
            </div>
            <div class="filterList-category-item">
                <div class="filterList-category-img">
                    <img src="../../images/product-3.png" alt="">
                </div>
                <div class="filterList-category-text">
                    <a href="#">Офтальмологическое оборудование</a>
                </div>
            </div>
        </div>
    </div>
</nav>
<footer class="siteFooter">
    <nav class="siteFooter-nav clearfix">
        <div class="container">
            <div class="up-btn-wrp">
                <div class="up-btn">
                    <a href="#">
                        <img src="../../images/arrow-up.png" alt="">
                    </a> 
                </div>
            </div>
            <div class="siteFooter-items footer">
                <ul class="footer-nav">
                    <li class="logo-footer-wrap"><img src="../../images/logo-footer.png" alt="logo" srcset=""></li>
                    <li><a href="#" class="js-toggle" aria-label="Open Navigation" data-toggle=".siteHeader-catalogue"><span class="siteFooter-btn">
                    <span></span>
                    <span></span>
                    <span></span>
                </span>
                        <span>Каталог товаров</span></a></li>
                    <li><a href="#">Акции</a></li>
                    <!-- <li><a href="#">Статьи</a></li> -->
                    <li><a href="#">О компании</a></li>
                    <li><a href="#">Оплата и Доставка</a></li>
                    <!-- <li><a href="#">Дилерские сертификаты</a></li> -->
                    <li><a href="#">Контакты</a></li>
                    <li> <div class="siteFooter-numbers">
                            <a href="tel:380500000000">+38 (050) 000 00 00</a>
                            <a href="tel:380500000000">+38 (050) 000 00 00</a>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="row">
                <div class="col-md-12 copyright">
                    <p>© Завод Лабораторного Оборудования 2018 Все права защищены</p>
                </div>
            </div>
        </div>
    </nav>
</footer>
</body>
</html>
