<!doctype html>
<html lang="en-US">
<head lang="en">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=yes"/>
    <title></title>
    <link rel="shortcut icon" href="#">
</head>
<body>

<div class="siteContent">
    <header class="siteHeader">
        <div class="siteHeader-info">
            <div class="container">
                <div class="row siteHeader-info-line">
                    <div class="hidden-xs col-sm-4 col-md-3">
                        <div class="siteHeader-logo">
                            <img src="../../images/logo(color).png">
                            <h1 class="siteHeader-logo-title">Завод Лабораторного Оборудования</h1>
                        </div>
                    </div>
                    <div class="col-xs-9 col-sm-6 col-md-7">
                        <div class="siteHeader-search">
                            <form class="form-inline">
                                <input type="search" class="form-control" id="exampleInputName2" placeholder="Поиск ...">
                                <button type="submit" class="btn btn-third">Начать</button>
                            </form>
                        </div>
                    </div>
                    <div class="hidden-xs col-sm-2 col-md-2">
                        <div class="siteHeader-numbers">
                            <p><img src="../../images/call.png" alt="" class="phone-shake">Позвоните нам</p>
                            <a href="tel:380500000000">+38 (050) 000 00 00</a>
                            <a href="tel:380500000000">+38 (050) 000 00 00</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <nav class="siteHeader-nav clearfix">
            <div class="container siteHeader-nav-wrp">
                <div class="siteHeader-items">
                    <div class="siteHeader-logo no-display">
                        <img src="../../images/logo(color).png">
                        <h1 class="siteHeader-logo-title">Завод Лабораторного Оборудования</h1>
                    </div>
                    <a href="#" class="siteHeader-nav-mobButton js-toggle btn btn-primary" aria-label="Open Navigation" data-toggle=".siteHeader-nav">
                        Меню
                    </a>
                    <ul>
                        <li><a href="#" class="js-toggle" aria-label="Open Navigation" data-toggle=".siteHeader-catalogue"><span class="siteHeader-btn">
    					<span class="burger-menu"></span>
              			<span class="burger-menu"></span>
              			<span class="burger-menu"></span>
              		</span>
                            <span>Каталог товаров</span></a></li>
                        <li><a href="#">Акции</a></li>
                        <!-- <li><a href="#">Статьи</a></li> -->
                        <li><a href="#">О компании</a></li>
                        <li><a href="#">Оплата и Доставка</a></li>
                        <!-- <li><a href="#">Дилерские сертификаты</a></li> -->
                        <li><a href="#">Контакты</a></li>
                        <li><a href=""></a></li>
                        <li><a href=""></a></li>
                        <li><a href=""></a></li>
                        <li><a href=""></a></li>
                        <li><a href="/" class="btn btn-secondary popup-btn" data-mfp-src="#price-downl-popup">Скачать прайс</a></li>
                    </ul>
                     <div class="siteHeader-numbers no-display">
                        <p><img src="../../images/call.png" alt="" class="phone-shake"> Позвоните нам</p>
                        <div>
                            <a href="tel:380500000000">+38 (050) 000 00 00</a>
                            <a href="tel:380500000000">+38 (050) 000 00 00</a>
                        </div>
                        
                    </div>
                </div>
            </div>
        </nav>
        <div class="siteHeader-catalogue">
            <div class="container">
                <div class="row">
                    <div class="col-sm-4 col-md-3">
                        <ul>
                            <li><a href="#">Лабораторные влагомеры</a></li>
                            <li><a href="#">Портативные влагомеры</a></li>
                            <li><a href="#">Микровесы</a></li>
                            <li><a href="#">Аналитические весы</a></li>
                            <li><a href="#">Лабораторные весы</a></li>
                            <li><a href="#">Приборы неразрушающего контроля НОВОТЕСТ</a></li>
                            <li><a href="#">Твердомеры новотест</a></li>
                            <li><a href="#">Аквадистилляторы</a></li>
                            <li><a href="#">Центрифуги</a></li>
                            <li><a href="#">Микроскопы</a></li>
                            <li><a href="#">Термостаты</a></li>
                            <li><a href="#">Стерилизаторы медицинские</a></li>
                        </ul>
                    </div>
                    <div class="col-sm-4 col-md-3">
                        <ul>
                            <li><a href="#">Бани лабораторные</a></li>
                            <li><a href="#">Колбонагреватели</a></li>
                            <li><a href="#">Лабораторные мельницы</a></li>
                            <li><a href="#">Лабораторные шейкера</a></li>
                            <li><a href="#">Магнитные мешалки</a></li>
                            <li><a href="#">рНметры</a></li>
                            <li><a href="#">УЗМ ультразвуковые мойки</a></li>
                            <li><a href="#">Аспиратор</a></li>
                            <li><a href="#">Муфельные печи</a></li>
                            <li><a href="#">Сушильные шкафы</a></li>
                            <li><a href="#">Лабораторная мебель</a></li>
                            <li><a href="#">Медицинская мебель</a></li>
                        </ul>
                    </div>
                    <div class="col-sm-4 col-md-3">
                        <ul>
                            <li><a href="#">Медицинское оборудование</a></li>
                            <li><a href="#">Счетные весы</a></li>
                            <li><a href="#">Торговые весы</a></li>
                            <li><a href="#">Настольные весы</a></li>
                            <li><a href="#">Медицинские весы</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <main>
        <section class="siteSection siteSection--gray siteSection--bordered">
            <div class="container">
                <div class="u-text--center"><h2>Доставка</h2></div>
                <div class="productContainer clearfix">
                    <h3 class="delivery-subtitle">Компания «Завод Лабораторного Оборудования» предоставляет возможность Вам доставки любым возможным перевозчиком.</h3>
                    <span>Мы сотрудничаем со следующими компаниями-перевозчиками:</span>
                    <ul class="delivery-company">
                        <li><img src="../../images/delivery/np.jpg" alt=""></li>
                        <li><img src="../../images/delivery/ne.jpg" alt=""></li>
                        <li><img src="../../images/delivery/it.jpg" alt=""></li>
                        <li><img src="../../images/delivery/delivery.jpg" alt=""></li>
                        <li><img src="../../images/delivery/al.jpg" alt=""></li>
                        <li><img src="../../images/delivery/me.jpg" alt=""></li>
                    </ul>
                            
                    <p>Для уточнения деталей и расчета стоимости отправки Вашего заказа Вы можете связаться с нашими менеджерами посредством телефонной связи: 050 000 00 00 / 067 000 00 00 или посредством электронной почты <a href="#" class="delivery-mail">med.oborud123@gmail.com</a>  и в течение 10 минут Вам будет предоставлена вся необходимая информация и рекомендации. Наши специалисты с удовольствием помогут Вам подобрать наиболее оптимального перевозчика, чтобы Ваш товар прибыл в кратчайшие сроки в ближайшее к Вам отделение, чтобы Вам было удобнее его забрать.</p>
                    <p>В зависимости от выбранного типа перевозчика меняются цены доставки и сроки, и мы с радостью поделимся с Вами нашим опытом и дадим советы, как сэкономить на доставке и получить товар в максимально сжатые сроки.</p>
                    <div class="u-text--center"><h3>Почему Нас выбирают?</h3></div>
                    <div class="whyUs">
                        <div class="row">
                            <div class="col-md-3">
                                <div class="whyUs-item">
                                    <div class="whyUs-img">
                                        <img src="../../images/delivery/1.jpg" alt="">
                                    </div>
                                    <div class="whyUs-title">
                                        Отгрузка в течении 48 часов
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="whyUs-item">
                                    <div class="whyUs-img">
                                        <img src="../../images/delivery/2.jpg" alt="">
                                    </div>
                                    <div class="whyUs-title">
                                        На всех складах внедрена система WMS
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="whyUs-item">
                                    <div class="whyUs-img">
                                        <img src="../../images/delivery/3.jpg" alt="">
                                    </div>
                                    <div class="whyUs-title">
                                        Индивидуальный подход. Особое отношение к каждому покупателю
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="whyUs-item">
                                    <div class="whyUs-img">
                                        <img src="../../images/delivery/4.jpg" alt="">
                                    </div>
                                    <div class="whyUs-title">
                                        Все склады соответствуют требованиям стандартов класса А
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 col-lg-6">
                            <div class="deliveryItem clearfix">
                                <div class="deliveryItem-img">
                                    <img src="../../images/delivery/icon-1.jpg">
                                </div>
                                <div class="deliveryItem-text">
                                    <h5>Получение заказа</h5>
                                    Экспресс доставка в любой населенный пункт Российской Федерации
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12 col-lg-6">
                            <div class="deliveryItem clearfix">
                                <div class="deliveryItem-img">
                                    <img src="../../images/delivery/icon-2.jpg">
                                </div>
                                <div class="deliveryItem-text">
                                    <h5>Профессиональная консультация</h5>
                                    Наши специалисты проконсультиуют Вас по любой продукции
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12 col-lg-6">
                            <div class="deliveryItem clearfix">
                                <div class="deliveryItem-img">
                                    <img src="../../images/delivery/icon-3.jpg">
                                </div>
                                <div class="deliveryItem-text">
                                    <h5>Оформление сделки</h5>
                                    Приобретение товара через наш интернет-магазин, или наложенным платежом с оплатой при получении
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12 col-lg-6">
                            <div class="deliveryItem clearfix">
                                <div class="deliveryItem-img">
                                    <img src="../../images/delivery/icon-4.jpg">
                                </div>
                                <div class="deliveryItem-text">
                                    <h5>Высокое качество</h5>
                                    Высокое качество продукции, гарантия производителя
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
</div>
<footer class="siteFooter">
    <nav class="siteFooter-nav clearfix">
        <div class="container">
            <div class="up-btn-wrp">
                <div class="up-btn">
                    <a href="#">
                        <img src="../../images/arrow-up.png" alt="">
                    </a> 
                </div>
                <span>вверх</span>
            </div>
            <div class="siteFooter-items footer">
                <ul class="footer-nav">
                    <li class="logo-footer-wrap"><img src="../../images/logo-footer.png" alt="logo" srcset=""></li>
                    <li><a href="#" class="js-toggle" aria-label="Open Navigation" data-toggle=".siteHeader-catalogue"><span class="siteFooter-btn">
                    <span></span>
                    <span></span>
                    <span></span>
                </span>
                        <span>Каталог товаров</span></a></li>
                    <li><a href="#">Акции</a></li>
                    <!-- <li><a href="#">Статьи</a></li> -->
                    <li><a href="#">О компании</a></li>
                    <li><a href="#">Оплата и Доставка</a></li>
                    <!-- <li><a href="#">Дилерские сертификаты</a></li> -->
                    <li><a href="#">Контакты</a></li>
                    <li> <div class="siteFooter-numbers">
                            <a href="tel:380500000000">+38 (050) 000 00 00</a>
                            <a href="tel:380500000000">+38 (050) 000 00 00</a>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="row">
                <div class="col-md-12 copyright">
                    <p>© Завод Лабораторного Оборудования 2018 Все права защищены</p>
                </div>
            </div>
        </div>
    </nav>
</footer>
</html>
