<!doctype html>
<html lang="en-US">
<head lang="en">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=yes"/>
    <title></title>
    <link rel="shortcut icon" href="../../images/favicon.ico">
</head>
<body>

<div class="siteContent">
    <header class="siteHeader">
        <div class="siteHeader-info">
            <div class="container">
                <div class="row siteHeader-info-line">
                    <div class="col-xs-6 col-sm-4 col-md-3">
                        <div class="siteHeader-logo">
                            <img src="../../images/logo(color).png">
                            <h1 class="siteHeader-logo-title">Завод Лабораторного Оборудования</h1>
                        </div>
                    </div>
                    <div class="hidden-xs col-sm-6 col-md-7">
                        <div class="siteHeader-search">
                            <form class="form-inline">
                                <input type="search" class="form-control" id="exampleInputName2" placeholder="Поиск ...">
                                <button type="submit" class="btn btn-third">Начать</button>
                            </form>
                        </div>
                    </div>
                    <div class="col-xs-6 col-sm-2 col-md-2">
                        <div class="siteHeader-numbers">
                            <p><img src="../../images/call.png" alt="" class="phone-shake">Позвоните нам</p>
                            <a href="tel:380500000000">+38 (050) 000 00 00</a>
                            <a href="tel:380500000000">+38 (050) 000 00 00</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <nav class="siteHeader-nav clearfix">
            <div class="container siteHeader-nav-wrp">
                <div class="siteHeader-items">
                    <div class="siteHeader-logo no-display">
                        <img src="../../images/logo(color).png">
                        <h1 class="siteHeader-logo-title">Завод Лабораторного Оборудования</h1>
                    </div>
                    <div class="burger-menu-wrp"> 
                        <a class="burger-menu no-display"></a>
                        <a href="/" class="siteHeader-nav-mobButton js-toggle btn btn-primary menu-btn" aria-label="Open Navigation" data-toggle=".siteHeader-nav">
                        Меню
                    </a>
                    </div>
                    <a href="/" class="btn btn-secondary popup-btn no-display price-downl" data-mfp-src="#price-downl-popup">Скачать прайс</a>
                    <ul>
                        <li><a href="#" class="js-toggle" aria-label="Open Navigation" data-toggle=".siteHeader-catalogue"><span class="siteHeader-btn">
    					<span class="burger-menu"></span>
              			<span class="burger-menu"></span>
              			<span class="burger-menu"></span>
              		</span>
                            <span>Каталог товаров</span></a></li>
                        <li><a href="#">Акции</a></li>
                        <!-- <li><a href="#">Статьи</a></li> -->
                        <li><a href="#">О компании</a></li>
                        <li><a href="#">Оплата и Доставка</a></li>
                        <!-- <li><a href="#">Дилерские сертификаты</a></li> -->
                        <li><a href="#">Контакты</a></li>
                        <li><a href=""></a></li>
                        <li><a href=""></a></li>
                        <li><a href=""></a></li>
                        <li><a href=""></a></li>
                        <li><a href="/" class="btn btn-secondary popup-btn" data-mfp-src="#price-downl-popup">Скачать прайс</a></li>
                    </ul>
                     <div class="siteHeader-numbers no-display">
                        <p><img src="../../images/call.png" alt="" class="phone-shake"> Позвоните нам</p>
                        <div>
                            <a href="tel:380500000000">+38 (050) 000 00 00</a>
                            <a href="tel:380500000000">+38 (050) 000 00 00</a>
                        </div>
                    </div>
                </div>
            </div>
        </nav>

                        <!-- POP-UP PRICE -->
        <div class="mfp-hide">
            <div id="price-downl-popup" class="order-popup">
                <div class="container">
                    <div class="row">
                        <div class="col-md-8 col-md-offset-2 col-xs-12">
                            <div class="row container-popup">
                                <div class="col-md-6 col-sm-6 container-popup-img">
                                    <img src="../../images/pop-up/price.png">
                                </div>
                                <div class="col-md-6 col-sm-6 col-xs-12 container-popup-text">
                                    <div class="col-md-12">
                                        <h5 class="container-popup-title">Скачайте прайс</h5>
                                        с полным списком наших товаров
                                    </div>
                                    <div class="col-md-12"><img src="../../images/pop-up/price-download.png" alt=""> 
                                    </div>
                                    <div class="col-md-12 form-item">
                                        <label class="visually-hidden" for="cname">Ваш номер телефона</label>
                                        <input type="text" id="cname" name="cname" placeholder="Ваш номер телефона">
                                    </div>
                                    <div class="col-md-12"><a href="#" class="btn btn-secondary">Скачать прайс</a></div>
                                    <div class="col-md-12"><span class="container-popup-text-file">price.pdf</span></div>
                                </div>
                                <button title="Close (Esc)" type="button" class="mfp-close">×</button>
                            </div>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>

        <div class="siteHeader-catalogue">
            <div class="container">
                <div class="row">
                    <div class="col-sm-4 col-md-3">
                        <ul>
                            <li><a href="#">Лабораторные влагомеры</a></li>
                            <li><a href="#">Портативные влагомеры</a></li>
                            <li><a href="#">Микровесы</a></li>
                            <li><a href="#">Аналитические весы</a></li>
                            <li><a href="#">Лабораторные весы</a></li>
                            <li><a href="#">Приборы неразрушающего контроля НОВОТЕСТ</a></li>
                            <li><a href="#">Твердомеры новотест</a></li>
                            <li><a href="#">Аквадистилляторы</a></li>
                            <li><a href="#">Центрифуги</a></li>
                            <li><a href="#">Микроскопы</a></li>
                            <li><a href="#">Термостаты</a></li>
                            <li><a href="#">Стерилизаторы медицинские</a></li>
                        </ul>
                    </div>
                    <div class="col-sm-4 col-md-3">
                        <ul>
                            <li><a href="#">Бани лабораторные</a></li>
                            <li><a href="#">Колбонагреватели</a></li>
                            <li><a href="#">Лабораторные мельницы</a></li>
                            <li><a href="#">Лабораторные шейкера</a></li>
                            <li><a href="#">Магнитные мешалки</a></li>
                            <li><a href="#">рНметры</a></li>
                            <li><a href="#">УЗМ ультразвуковые мойки</a></li>
                            <li><a href="#">Аспиратор</a></li>
                            <li><a href="#">Муфельные печи</a></li>
                            <li><a href="#">Сушильные шкафы</a></li>
                            <li><a href="#">Лабораторная мебель</a></li>
                            <li><a href="#">Медицинская мебель</a></li>
                        </ul>
                    </div>
                    <div class="col-sm-4 col-md-3">
                        <ul>
                            <li><a href="#">Медицинское оборудование</a></li>
                            <li><a href="#">Счетные весы</a></li>
                            <li><a href="#">Торговые весы</a></li>
                            <li><a href="#">Настольные весы</a></li>
                            <li><a href="#">Медицинские весы</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <main>
        <section class="siteSection siteSection--noPad">
            <div class="siteTeaser">
                <div class="container">
                    <div class="row">
                        <div class="newsList js-slider slick-slider" data-slick='{centerMode: true,variableWidth: true,centerPadding: "60px",slidesToShow: 1}'>
                            <div class="col-md-8">
                                <div class="siteTeaser-wrp">
                                    <div>
                                        <div class="siteTeaser-title">Lorem ipsum dolor</div>
                                        <div class="siteTeaser-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam eget ultrices sem. Sed ultricies pellentesque nulla, eget aliquet lacus eleifend ac. Vivamus semper, elit quis suscipit cursus, urna dolor tincidunt erat, a consequat est ex ut orci. Quisque sed risus pharetra, aliquam magna a, iaculis magna. Fusce sagittis urna.</div>
                                        <a href="#" class="btn btn-secondary btn--big">Подробнее</a>
                                    </div>
                                    <img src="../../images/teaser-img.png" alt="">
                                </div>
                            </div>
                            <div class="col-md-8">
                                <div class="siteTeaser-wrp">
                                    <div>
                                        <div class="siteTeaser-title">Lorem ipsum dolor</div>
                                        <div class="siteTeaser-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam eget ultrices sem. Sed ultricies pellentesque nulla, eget aliquet lacus eleifend ac. Vivamus semper, elit quis suscipit cursus, urna dolor tincidunt erat, a consequat est ex ut orci. Quisque sed risus pharetra, aliquam magna a, iaculis magna. Fusce sagittis urna.</div>
                                        <a href="#" class="btn btn-secondary btn--big">Подробнее</a>
                                    </div>
                                    <img src="../../images/teaser-img.png" alt="">
                                </div>
                            </div>
                            <div class="col-md-8">
                                <div class="siteTeaser-wrp">
                                    <div>
                                        <div class="siteTeaser-title">Lorem ipsum dolor</div>
                                        <div class="siteTeaser-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam eget ultrices sem. Sed ultricies pellentesque nulla, eget aliquet lacus eleifend ac. Vivamus semper, elit quis suscipit cursus, urna dolor tincidunt erat, a consequat est ex ut orci. Quisque sed risus pharetra, aliquam magna a, iaculis magna. Fusce sagittis urna.</div>
                                        <a href="#" class="btn btn-secondary btn--big">Подробнее</a>
                                    </div>
                                    <img src="../../images/teaser-img.png" alt="">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div></section>

        <!--Markup for one row (no sidebar)-->
        <section class="siteSection siteSection--gray">
            <div class="container">
                <h2 class="u-text--center">Акции</h2>
                <div class="row">
                    <div class="col-sm-6 col-md-3">
                        <div class="productList-item">
                            <div class="productList-img">
                                <a href="#"><img src="../../images/product.png" alt=""></a>
                            </div>
                            <div class="productList-title">
                                <a href="#">Анализатор влажности весовой МА 50.Х RADWAG</a>
                            </div>
                            <div class="productList-price">
                                4104 грн
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-3">
                        <div class="productList-item">
                            <div class="productList-img">
                                <a href="#"><img src="../../images/product-1.png" alt=""></a>
                            </div>
                            <div class="productList-title">
                                <a href="#">Анализатор влажности весовой МА 50.Х RADWAG</a>
                            </div>
                            <div class="productList-price">
                                <span>4320 грн</span>
                                4104 грн
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-3">
                        <div class="productList-item">
                            <div class="productList-banner productList-banner--leak">
                                Осталось 3 ед.
                            </div>
                            <div class="productList-img">
                                <a href="#"><img src="../../images/product-2.png" alt=""></a>
                            </div>
                            <div class="productList-title">
                                <a href="#">Анализатор влажности весовой МА 50.Х RADWAG</a>
                            </div>
                            <div class="productList-price">
                                <span>4320 грн</span>
                                4104 грн
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-3">
                        <div class="productList-item">
                            <div class="productList-banner productList-banner--sale">
                                Скидка 21%
                            </div>
                            <div class="productList-img">
                                <a href="#"><img src="../../images/product-3.png" alt=""></a>
                            </div>
                            <div class="productList-title">
                                <a href="#">Анализатор влажности весовой МА 50.Х RADWAG</a>
                            </div>
                            <div class="productList-price">
                                <span>4320 грн</span>
                                4104 грн
                            </div>
                        </div>
                    </div>
                </div>    </div>
        </section>
        <section class="siteSection siteSection--gray-light">
            <div class="container">
                <h2 class="u-text--center">Новинки</h2>
                <div class="row">
                    <div class="newsList js-slider slick-slider" data-slick='{"centerMode": true,"variableWidth": true,"centerPadding": "60px","slidesToShow": 4}'>
                        <div class="col-sm-6 col-md-3">
                            <div class="productList-item">
                                <div class="productList-img">
                                    <a href="#"><img src="../../images/product.png" alt=""></a>
                                </div>
                                <div class="productList-title">
                                    <a href="#">Анализатор влажности весовой МА 50.Х RADWAG</a>
                                </div>
                                <div class="productList-price">
                                    4104 грн
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-3">
                            <div class="productList-item">
                                <div class="productList-img">
                                    <a href="#"><img src="../../images/product-1.png" alt=""></a>
                                </div>
                                <div class="productList-title">
                                    <a href="#">Анализатор влажности весовой МА 50.Х RADWAG</a>
                                </div>
                                <div class="productList-price">
                                    <span>4320 грн</span>
                                    4104 грн
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-3">
                            <div class="productList-item">
                                <div class="productList-banner productList-banner--leak">
                                    Осталось 3 ед.
                                </div>
                                <div class="productList-img">
                                    <a href="#"><img src="../../images/product-2.png" alt=""></a>
                                </div>
                                <div class="productList-title">
                                    <a href="#">Анализатор влажности весовой МА 50.Х RADWAG</a>
                                </div>
                                <div class="productList-price">
                                    <span>4320 грн</span>
                                    4104 грн
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-3">
                            <div class="productList-item">
                                <div class="productList-banner productList-banner--sale">
                                    Скидка 21%
                                </div>
                                <div class="productList-img">
                                    <a href="#"><img src="../../images/product-3.png" alt=""></a>
                                </div>
                                <div class="productList-title">
                                    <a href="#">Анализатор влажности весовой МА 50.Х RADWAG</a>
                                </div>
                                <div class="productList-price">
                                    <span>4320 грн</span>
                                    4104 грн
                                </div>
                            </div>
                        </div>       
                        <div class="col-sm-6 col-md-3">
                            <div class="productList-item">
                                <div class="productList-img">
                                    <a href="#"><img src="../../images/product.png" alt=""></a>
                                </div>
                                <div class="productList-title">
                                    <a href="#">Анализатор влажности весовой МА 50.Х RADWAG</a>
                                </div>
                                <div class="productList-price">
                                    4104 грн
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-3">
                            <div class="productList-item">
                                <div class="productList-img">
                                    <a href="#"><img src="../../images/product-1.png" alt=""></a>
                                </div>
                                <div class="productList-title">
                                    <a href="#">Анализатор влажности весовой МА 50.Х RADWAG</a>
                                </div>
                                <div class="productList-price">
                                    <span>4320 грн</span>
                                    4104 грн
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-3">
                            <div class="productList-item">
                                <div class="productList-banner productList-banner--leak">
                                    Осталось 3 ед.
                                </div>
                                <div class="productList-img">
                                    <a href="#"><img src="../../images/product-2.png" alt=""></a>
                                </div>
                                <div class="productList-title">
                                    <a href="#">Анализатор влажности весовой МА 50.Х RADWAG</a>
                                </div>
                                <div class="productList-price">
                                    <span>4320 грн</span>
                                    4104 грн
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-3">
                            <div class="productList-item">
                                <div class="productList-banner productList-banner--sale">
                                    Скидка 21%
                                </div>
                                <div class="productList-img">
                                    <a href="#"><img src="../../images/product-3.png" alt=""></a>
                                </div>
                                <div class="productList-title">
                                    <a href="#">Анализатор влажности весовой МА 50.Х RADWAG</a>
                                </div>
                                <div class="productList-price">
                                    <span>4320 грн</span>
                                    4104 грн
                                </div>
                            </div>
                        </div>
                    </div>
                </div>    
            </div>
        </section>
        <section class="siteSection">
            <div class="container">
                <h2 class="u-text--center">Сотрудничество с нами</h2>
                <div class="row">
                    <div class="col-sm-6 col-md-3">
                        <div class="cooperationList-item">
                            <div class="cooperationList-img">
                                <a href="#"><img src="../../images/colab-img-1.jpg" alt=""></a>
                            </div>
                            <div class="cooperationList-text">
                                <h3>Самый широкий ассортимент более 1500 разновидностей лабораторного оборудования</h3>
                                <!-- <p>более 1500 разновидностей лабораторного оборудования</p> -->
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-3">
                        <div class="cooperationList-item">
                            <div class="cooperationList-img">
                                <a href="#"><img src="../../images/colab-img-2.jpg" alt=""></a>
                            </div>
                            <div class="cooperationList-text">
                                <h3>На весь продаваемый товар вы получаете гарантию и сертификаты качества</h3>
                                <!-- <p>гарантию и сертификаты качества</p> -->
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-3">
                        <div class="cooperationList-item">
                            <div class="cooperationList-img">
                                <a href="#"><img src="../../images/colad-img-3.png" alt=""></a>
                            </div>
                            <div class="cooperationList-text">
                                <h3>Менеджеры с медицинским образованием помогут подобрать идеальное решение</h3>
                                <!-- <p>помогут подобрать идеальное решение</p> -->
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-3">     
                        <div class="cooperationList-item">
                            <div class="cooperationList-img">
                                <a href="#"><img src="../../images/colad-img-4.png" alt=""></a>
                            </div>
                            <div class="cooperationList-text">
                                <h3>Возврат товара в случае брака за счет фирмы</h3>
                                <!-- <p>в случае брака за счет фирмы</p> -->
                            </div>
                        </div>
                    </div>
                </div>  
            </div>
        </section>
        <section class="siteSection siteSection--bordered benefitSection">
            <div class="container">
                <h2 class="u-text--center">Наши Преимущества</h2>
                <div class="row">
                    <div class="col-sm-6 col-md-6 col-lg-4 col-lg-offset-2">
                        <div class="benefitsList">
                            <ul>
                                <li><span><img src="../../images/benef-1.jpg" alt=""></span>Товар всегда в наличии на складе</li>
                                <li><span><img src="../../images/benef-2.jpg" alt=""></span>Регулярные скидки и акции</li>
                                <li><span><img src="../../images/benef-3.jpg" alt=""></span>Гарантия на товар до 18 лет</li>
                                <li><span><img src="../../images/benef-4.jpg" alt=""></span>Отгрузка за 24 часа</li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-6 col-lg-4 ">
                        <div class="benefitsList">
                            <ul>
                                <li><span><img src="../../images/benef-5.jpg" alt=""></span>Европейское качество продукции</li>
                                <li><span><img src="../../images/benef-6.jpg" alt=""></span>Качество товаров подтверджено сертификатами</li>
                                <li><span><img src="../../images/benef-7.jpg" alt=""></span>Регулярная метрологическая аттестация</li>
                                <li><span><img src="../../images/benef-8.jpg" alt=""></span>Оплата наложенным платежом после проверки качества товара на месте</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="siteSection siteSection--gray-light">
            <div class="container">
                <h2 class="inform-section-title">«Завод лабораторного оборудования»</h2>
                <h3 class="u-text--center inform-title">Ваш универсальный магазин медицинского оборудования.<br/> «Качество, Которому Можно Доверять»</h3>
                <img src="../../images/about-us.png" class="alignleft">
                <p>Один из самых надежных поставщиков медицинского оборудования для лабораторий, у нас есть знания, опыт и ответственность, которые вы ищете при покупке товаров и материалов для здравоохранения.</p>
                <p>Наши опытные сотрудники будут работать с Вами во время всего процесса: от заказа до получения товара.
                Помните, мы обеспечиваем надежное, качественные товары от ведущих изготовлений и даем гарантию на всю продукцию, поэтому вы можете доверять нашей работе. 
                </p>
                <p class="inform-text">Если у вас есть вопросы, вы можете связаться с нами онлайн или позвонить нам по телефону 864-223-4663.</p>
                <div class="u-text--center">
                    <a href="./about.html" class="btn btn-third btn--big">Читать далее</a>
                </div>
            </div>
        </section>
        <!-- <section class="siteSection siteSection--gray">
            <h2 class="u-text--center">Статьи</h2>
            <div class="container">
                <div class="row">
                    <div class="newsList js-slider slick-slider" data-slick='{centerMode: true,variableWidth: true,centerPadding: "60px",slidesToShow: 1}'>
                        <div class="newsList-item">
                            <div class="newsList-img">
                                <a href="#"><img src="../../images/article-1.jpg" alt=""></a>
                            </div>
                            <div class="newsList-title">
                                <a href="#">Lorem ipsum dolor sit amet</a>
                            </div>
                            <div class="newsList-text">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent malesuada lorem ac sapien faucibus, eget hendrerit tortor faucibus. Maecenas ac nisl eu augue vulputate venenatis. Vivamus accumsan, ipsum id cursus facilisis, urna dui tincidunt dolor, at vehicula tortor enim sed arcu. Aenean faucibus lorem tellus, eu venenatis dui tristique nec.
                            </div>
                            <div class="newsList-action">
                                <a href="#" class="btn btn-secondary btn--big">Перейти</a>
                            </div>
                        </div>
                        <div class="newsList-item">
                            <div class="newsList-img">
                                <a href="#"><img src="../../images/placeholder.jpg" alt=""></a>
                            </div>
                            <div class="newsList-title">
                                <a href="#">Lorem ipsum dolor sit amet</a>
                            </div>
                            <div class="newsList-text">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent malesuada lorem ac sapien faucibus, eget hendrerit tortor faucibus. Maecenas ac nisl eu augue vulputate venenatis. Vivamus accumsan, ipsum id cursus facilisis, urna dui tincidunt dolor, at vehicula tortor enim sed arcu. Aenean faucibus lorem tellus, eu venenatis dui tristique nec.
                            </div>
                            <div class="newsList-action">
                                <a href="#" class="btn btn-secondary btn--big">Перейти</a>
                            </div>
                        </div>
                        <div class="newsList-item">
                            <div class="newsList-img">
                                <a href="#"><img src="../../images/placeholder.jpg" alt=""></a>
                            </div>
                            <div class="newsList-title">
                                <a href="#">Lorem ipsum dolor sit amet</a>
                            </div>
                            <div class="newsList-text">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent malesuada lorem ac sapien faucibus, eget hendrerit tortor faucibus. Maecenas ac nisl eu augue vulputate venenatis. Vivamus accumsan, ipsum id cursus facilisis, urna dui tincidunt dolor, at vehicula tortor enim sed arcu. Aenean faucibus lorem tellus, eu venenatis dui tristique nec.
                            </div>
                            <div class="newsList-action">
                                <a href="#" class="btn btn-secondary btn--big">Перейти</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
        </section> -->
    </main>
</div>
<footer class="siteFooter">
    <nav class="siteFooter-nav clearfix">
        <div class="container">
            <div class="up-btn-wrp">
                <div class="up-btn">
                    <a href="#">
                        <img src="../../images/arrow-up.png" alt="">
                    </a> 
                </div>
                <span>вверх</span>
            </div>
            <div class="siteFooter-items footer">
                <ul class="footer-nav">
                    <li class="logo-footer-wrap"><img src="../../images/logo(white).png" alt="logo" srcset=""><h1 class="siteHeader-logo-title">Завод Лабораторного Оборудования</h1></li>
                    <li><a href="#" class="js-toggle" aria-label="Open Navigation" data-toggle=".siteHeader-catalogue"><span class="siteFooter-btn">
                    <span></span>
                    <span></span>
                    <span></span>
                </span>
                        <span>Каталог товаров</span></a></li>
                    <li><a href="#">Акции</a></li>
                    <!-- <li><a href="#">Статьи</a></li> -->
                    <li><a href="#">О компании</a></li>
                    <li><a href="#">Оплата и Доставка</a></li>
                    <!-- <li><a href="#">Дилерские сертификаты</a></li> -->
                    <li><a href="#">Контакты</a></li>
                    <li> <div class="siteFooter-numbers">
                            <a href="tel:380500000000">+38 (050) 000 00 00</a>
                            <a href="tel:380500000000">+38 (050) 000 00 00</a>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="row">
                <div class="col-md-12 copyright">
                    <p>© Завод Лабораторного Оборудования 2018 Все права защищены</p>
                </div>
            </div>
        </div>
    </nav>
</footer>
</body>
</html>
