<!doctype html>
<html lang="en-US">
<head lang="en">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=yes"/>
    <title></title>
    <link rel="shortcut icon" href="#">
</head>
<body>
<div class="siteContent">
    <header class="siteHeader">
        <div class="siteHeader-info">
            <div class="container">
              <div class="row siteHeader-info-line">
                   <div class="hidden-xs col-sm-4 col-md-3">
                        <div class="siteHeader-logo">
                            <img src="../../images/logo.png">
                        </div>
                    </div>
                    <div class="col-xs-8 col-sm-6 col-md-7">
                        <div class="siteHeader-search">
                            <form class="form-inline">
                                <input type="search" class="form-control" id="exampleInputName2" placeholder="Поиск ...">
                                <button type="submit" class="btn btn-third">Начать</button>
                            </form>
                        </div>
                    </div>
                    <div class="hidden-xs col-sm-2 col-md-2">
                        <div class="siteHeader-numbers">
                            <p><img src="../../images/call.png" alt=""> позвоните нам</p>
                            <a href="tel:380500000000">+38 (050) 000 00 00</a>
                            <a href="tel:380500000000">+38 (050) 000 00 00</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <nav class="siteHeader-nav clearfix">
            <div class="container">
                <div class="siteHeader-items">
                    <a href="#" class="siteHeader-nav-mobButton js-toggle btn btn-primary" aria-label="Open Navigation" data-toggle=".siteHeader-nav">
                        Меню
                    </a>
                    <ul>
                        <li><a href="#" class="js-toggle" aria-label="Open Navigation" data-toggle=".siteHeader-catalogue"><span class="siteHeader-btn">
    					<span></span>
              			<span></span>
              			<span></span>
              		</span>
                            <span>Каталог товаров</span></a></li>
                        <li><a href="#">Акции</a></li>
                        <li><a href="#">Статьи</a></li>
                        <li><a href="#">О компании</a></li>
                        <li><a href="#">Оплата и Доставка</a></li>
                        <li><a href="#">Дилерские сертификаты</a></li>
                        <li><a href="#">Контакты</a></li>
                        <li><a href="#" class="btn btn-secondary">Скачать прайс</a></li>
                    </ul>
                </div>
            </div>
        </nav>
        <div class="siteHeader-catalogue">
            <div class="container">
                <div class="row">
                    <div class="col-sm-4 col-md-3">
                        <ul>
                            <li><a href="#">Лабораторные влагомеры</a></li>
                            <li><a href="#">Портативные влагомеры</a></li>
                            <li><a href="#">Микровесы</a></li>
                            <li><a href="#">Аналитические весы</a></li>
                            <li><a href="#">Лабораторные весы</a></li>
                            <li><a href="#">Приборы неразрушающего контроля НОВОТЕСТ</a></li>
                            <li><a href="#">Твердомеры новотест</a></li>
                            <li><a href="#">Аквадистилляторы</a></li>
                            <li><a href="#">Центрифуги</a></li>
                            <li><a href="#">Микроскопы</a></li>
                            <li><a href="#">Термостаты</a></li>
                            <li><a href="#">Стерилизаторы медицинские</a></li>
                        </ul>
                    </div>
                    <div class="col-sm-4 col-md-3">
                        <ul>
                            <li><a href="#">Бани лабораторные</a></li>
                            <li><a href="#">Колбонагреватели</a></li>
                            <li><a href="#">Лабораторные мельницы</a></li>
                            <li><a href="#">Лабораторные шейкера</a></li>
                            <li><a href="#">Магнитные мешалки</a></li>
                            <li><a href="#">рНметры</a></li>
                            <li><a href="#">УЗМ ультразвуковые мойки</a></li>
                            <li><a href="#">Аспиратор</a></li>
                            <li><a href="#">Муфельные печи</a></li>
                            <li><a href="#">Сушильные шкафы</a></li>
                            <li><a href="#">Лабораторная мебель</a></li>
                            <li><a href="#">Медицинская мебель</a></li>
                        </ul>
                    </div>
                    <div class="col-sm-4 col-md-3">
                        <ul>
                            <li><a href="#">Медицинское оборудование</a></li>
                            <li><a href="#">Счетные весы</a></li>
                            <li><a href="#">Торговые весы</a></li>
                            <li><a href="#">Настольные весы</a></li>
                            <li><a href="#">Медицинские весы</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <main>
        <section class="siteSection siteSection--gray siteSection--bordered">
            <div class="container">
                <div class="u-text--center"><h2>Новости</h2></div>
                <div class="row">
                    <div class="col-sm-6 col-md-3">
                        <div class="newsSet-item">
                            <div class="newsSet-img">
                                <a href="#"><img src="../../images/placeholder.jpg" alt=""></a>
                            </div>
                            <div class="newsSet-title">
                                <a href="#">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</a>
                            </div>
                            <div class="newsSet-date">
                                24.02.2018
                            </div>
                            <div class="newsSet-action">
                                <a href="#" class="btn">Читать подробнее</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-3">
                        <div class="newsSet-item">
                            <div class="newsSet-img">
                                <a href="#"><img src="../../images/placeholder.jpg" alt=""></a>
                            </div>
                            <div class="newsSet-title">
                                <a href="#">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</a>
                            </div>
                            <div class="newsSet-date">
                                24.02.2018
                            </div>
                            <div class="newsSet-action">
                                <a href="#" class="btn">Читать подробнее</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-3">
                        <div class="newsSet-item">
                            <div class="newsSet-img">
                                <a href="#"><img src="../../images/placeholder.jpg" alt=""></a>
                            </div>
                            <div class="newsSet-title">
                                <a href="#">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</a>
                            </div>
                            <div class="newsSet-date">
                                24.02.2018
                            </div>
                            <div class="newsSet-action">
                                <a href="#" class="btn">Читать подробнее</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-3">
                        <div class="newsSet-item">
                            <div class="newsSet-img">
                                <a href="#"><img src="../../images/placeholder.jpg" alt=""></a>
                            </div>
                            <div class="newsSet-title">
                                <a href="#">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</a>
                            </div>
                            <div class="newsSet-date">
                                24.02.2018
                            </div>
                            <div class="newsSet-action">
                                <a href="#" class="btn">Читать подробнее</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6 col-md-3">
                        <div class="newsSet-item">
                            <div class="newsSet-img">
                                <a href="#"><img src="../../images/placeholder.jpg" alt=""></a>
                            </div>
                            <div class="newsSet-title">
                                <a href="#">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</a>
                            </div>
                            <div class="newsSet-date">
                                24.02.2018
                            </div>
                            <div class="newsSet-action">
                                <a href="#" class="btn">Читать подробнее</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-3">
                        <div class="newsSet-item">
                            <div class="newsSet-img">
                                <a href="#"><img src="../../images/placeholder.jpg" alt=""></a>
                            </div>
                            <div class="newsSet-title">
                                <a href="#">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</a>
                            </div>
                            <div class="newsSet-date">
                                24.02.2018
                            </div>
                            <div class="newsSet-action">
                                <a href="#" class="btn">Читать подробнее</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-3">
                        <div class="newsSet-item">
                            <div class="newsSet-img">
                                <a href="#"><img src="../../images/placeholder.jpg" alt=""></a>
                            </div>
                            <div class="newsSet-title">
                                <a href="#">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</a>
                            </div>
                            <div class="newsSet-date">
                                24.02.2018
                            </div>
                            <div class="newsSet-action">
                                <a href="#" class="btn">Читать подробнее</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-3">
                        <div class="newsSet-item">
                            <div class="newsSet-img">
                                <a href="#"><img src="../../images/placeholder.jpg" alt=""></a>
                            </div>
                            <div class="newsSet-title">
                                <a href="#">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</a>
                            </div>
                            <div class="newsSet-date">
                                24.02.2018
                            </div>
                            <div class="newsSet-action">
                                <a href="#" class="btn">Читать подробнее</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="loadingItem">
                    <div class="u-text--center"><a href="#" class="loadingItem-link">Загрузить еще товары</a></div>
                    <div class="pagination--toright"><div class="pagination-wrapper u-clearfix">
                        <div class="pagination">
                            <a href="#" class="page-numbers current">1</a>
                            <a href="#" class="page-numbers">2</a>
                            <span class="page-numbers dots">…</span>
                            <a href="#" class="page-numbers">5</a>
                        </div>
                    </div>
                    </div>
                </div>
            </div>
        </section>    </main>
</div>
<footer class="siteFooter">
    <nav class="siteFooter-nav clearfix">
        <div class="container">
            <div class="siteFooter-items footer">
                <ul class="footer-nav">
                    <li class="logo-footer-wrap"><img src="../../images/logo-footer.png" alt="logo" srcset=""></li>
                    <li><a href="#" class="js-toggle" aria-label="Open Navigation" data-toggle=".siteHeader-catalogue"><span class="siteFooter-btn">
                    <span></span>
                    <span></span>
                    <span></span>
                </span>
                        <span>Каталог товаров</span></a></li>
                    <li><a href="#">Акции</a></li>
                    <!-- <li><a href="#">Статьи</a></li> -->
                    <li><a href="#">О компании</a></li>
                    <li><a href="#">Оплата и Доставка</a></li>
                    <!-- <li><a href="#">Дилерские сертификаты</a></li> -->
                    <li><a href="#">Контакты</a></li>
                    <li> <div class="siteFooter-numbers">
                            <a href="tel:380500000000">+38 (050) 000 00 00</a>
                            <a href="tel:380500000000">+38 (050) 000 00 00</a>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="row">
                <div class="col-md-12 copyright">
                    <p>© Завод Лабораторного Оборудования 2018 Все права защищены</p>
                </div>
            </div>
        </div>
    </nav>
</footer>
</body>
</html>
