<!doctype html>
<html lang="en-US">
<head lang="en">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=yes"/>
    <title></title>
    <link rel="shortcut icon" href="#">
</head>
<body>

<div class="siteContent">
    <header class="siteHeader">
        <div class="siteHeader-info">
            <div class="container">
               <div class="row siteHeader-info-line">
                    <div class="hidden-xs col-sm-4 col-md-3">
                        <div class="siteHeader-logo">
                            <img src="../../images/logo.png">
                        </div>
                    </div>
                    <div class="col-xs-8 col-sm-6 col-md-7">
                        <div class="siteHeader-search">
                            <form class="form-inline">
                                <input type="search" class="form-control" id="exampleInputName2" placeholder="Поиск ...">
                                <button type="submit" class="btn btn-third">Начать</button>
                            </form>
                        </div>
                    </div>
                    <div class="hidden-xs col-sm-2 col-md-2">
                        <div class="siteHeader-numbers">
                            <p><img src="../../images/call.png" alt=""> позвоните нам</p>
                            <a href="tel:380500000000">+38 (050) 000 00 00</a>
                            <a href="tel:380500000000">+38 (050) 000 00 00</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <nav class="siteHeader-nav clearfix">
            <div class="container">
                <div class="siteHeader-items">
                    <a href="#" class="siteHeader-nav-mobButton js-toggle btn btn-primary" aria-label="Open Navigation" data-toggle=".siteHeader-nav">
                        Меню
                    </a>
                    <ul>
                        <li><a href="#" class="js-toggle" aria-label="Open Navigation" data-toggle=".siteHeader-catalogue"><span class="siteHeader-btn">
    					<span></span>
              			<span></span>
              			<span></span>
              		</span>
                            <span>Каталог товаров</span></a></li>
                        <li><a href="#">Акции</a></li>
                        <li><a href="#">Статьи</a></li>
                        <li><a href="#">О компании</a></li>
                        <li><a href="#">Оплата и Доставка</a></li>
                        <li><a href="#">Дилерские сертификаты</a></li>
                        <li><a href="#">Контакты</a></li>
                        <li><a href="#" class="btn btn-secondary">Скачать прайс</a></li>
                    </ul>
                </div>
            </div>
        </nav>
        <div class="siteHeader-catalogue">
            <div class="container">
                <div class="row">
                    <div class="col-sm-4 col-md-3">
                        <ul>
                            <li><a href="#">Лабораторные влагомеры</a></li>
                            <li><a href="#">Портативные влагомеры</a></li>
                            <li><a href="#">Микровесы</a></li>
                            <li><a href="#">Аналитические весы</a></li>
                            <li><a href="#">Лабораторные весы</a></li>
                            <li><a href="#">Приборы неразрушающего контроля НОВОТЕСТ</a></li>
                            <li><a href="#">Твердомеры новотест</a></li>
                            <li><a href="#">Аквадистилляторы</a></li>
                            <li><a href="#">Центрифуги</a></li>
                            <li><a href="#">Микроскопы</a></li>
                            <li><a href="#">Термостаты</a></li>
                            <li><a href="#">Стерилизаторы медицинские</a></li>
                        </ul>
                    </div>
                    <div class="col-sm-4 col-md-3">
                        <ul>
                            <li><a href="#">Бани лабораторные</a></li>
                            <li><a href="#">Колбонагреватели</a></li>
                            <li><a href="#">Лабораторные мельницы</a></li>
                            <li><a href="#">Лабораторные шейкера</a></li>
                            <li><a href="#">Магнитные мешалки</a></li>
                            <li><a href="#">рНметры</a></li>
                            <li><a href="#">УЗМ ультразвуковые мойки</a></li>
                            <li><a href="#">Аспиратор</a></li>
                            <li><a href="#">Муфельные печи</a></li>
                            <li><a href="#">Сушильные шкафы</a></li>
                            <li><a href="#">Лабораторная мебель</a></li>
                            <li><a href="#">Медицинская мебель</a></li>
                        </ul>
                    </div>
                    <div class="col-sm-4 col-md-3">
                        <ul>
                            <li><a href="#">Медицинское оборудование</a></li>
                            <li><a href="#">Счетные весы</a></li>
                            <li><a href="#">Торговые весы</a></li>
                            <li><a href="#">Настольные весы</a></li>
                            <li><a href="#">Медицинские весы</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <main>
        <section class="siteSection siteSection--noPad">
            <div class="siteTeaser">
                <div class="container">
                    <div class="row">
                        <div class="col-md-8">
                            <div class="siteTeaser-title">Lorem ipsum dolor</div>
                            <div class="siteTeaser-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam eget ultrices sem. Sed ultricies pellentesque nulla, eget aliquet lacus eleifend ac. Vivamus semper, elit quis suscipit cursus, urna dolor tincidunt erat, a consequat est ex ut orci. Quisque sed risus pharetra, aliquam magna a, iaculis magna. Fusce sagittis urna.</div>
                            <a href="#" class="btn btn-secondary btn--big">Читать далее</a>
                        </div>
                    </div>
                </div>
            </div></section>

        <!--Markup for one row (no sidebar)-->
        <section class="siteSection siteSection--gray">
            <div class="container">
                <h1 class="u-text--center">Body Content NO sidebar</h1>
                <ul>
                    <li><a href="home.html" target="_blank">Home Page</a></li>
                    <li><a href="product.html" target="_blank">Product</a></li>
                    <li><a href="products.html" target="_blank">Products</a></li>
                    <li><a href="category.html" target="_blank">Category</a></li>
                    <li><a href="article.html" target="_blank">Article</a></li>
                    <li><a href="news.html" target="_blank">News</a></li>
                    <li><a href="delivery.html" target="_blank">Delivery</a></li>
                    <li><a href="contact.html" target="_blank">Contact</a></li>
                </ul>
            </div>
        </section>
        <section class="siteSection siteSection--gray-light">
            <div class="container">
                <div class="col-md-3">
                    <h2>Sidebar Content H2</h2>
                    <!--Sidebar Content-->
                    <ul class="rating">
                        <li class="icon-star-full"></li>
                        <li class="icon-star-full"></li>
                        <li class="icon-star-full"></li>
                        <li class="icon-star-half"></li>
                        <li class="icon-star-blank"></li>
                    </ul>
                </div>
                <div class="col-md-9">
                    <h2 class="u-text--center">Body Content H2</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cumque placeat praesentium soluta! Alias aliquid consequuntur dicta facere iste laborum nam numquam omnis quia soluta tempora ut, veniam. Dolore quia, quis!</p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A alias aliquid commodi dicta est hic impedit maiores nesciunt, qui ratione rem repudiandae sed tenetur veniam voluptatum. Asperiores molestiae nulla sint!</p>
                    <blockquote>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem consectetur, corporis debitis et eveniet explicabo facere fugiat iste libero maiores, nobis recusandae rerum suscipit temporibus vitae? Deleniti nobis possimus rerum.
                        </p>
                    </blockquote>
                </div>
            </div>
        </section>
        <section class="siteSection siteSection">
            <div class="container">
                <h3>form elements  H3</h3>
                <p>
                    <button>Simple button</button>
                    <a href="#" class="btn">link as button</a>
                </p>
                <p>
                    <input type="text" placeholder="Name">
                    <input type="email" placeholder="email" value="casino@gmail.com">
                </p>
                <h3>Contact Form</h3>

                <!-- контактная форма с элементами CF7 -->
                <div class="form form--contact">
                    <div class="form-item form-item--half">
                        <lable class="visually-hidden" for="cname">Your Name</lable>
                        <input type="text" id="cname" name="cname" placeholder="Your Name">
                    </div>
                    <div class="form-item form-item--half">
                        <lable class="visually-hidden" for="cemail">Your Email</lable>
                        <!-- Class .wpcf7-not-valid from CF7-->
                        <input type="text" id="cemail" name="cemail" placeholder="Your Email" class="wpcf7-not-valid">
                        <!-- This span is CF7 element-->
                        <span role="alert" class="wpcf7-not-valid-tip">The field is required.</span>
                    </div>
                    <div class="form-item">
                        <lable class="visually-hidden" for="csubject">Subject</lable>
                        <input type="text" id="csubject" name="csubject" placeholder="Subject">
                    </div>
                    <div class="form-item">
                        <lable class="visually-hidden" for="cmessage">Your Message</lable>
                        <textarea id="cmessage" name="cmessage" placeholder="Your Message"></textarea>
                    </div>

                    <div class="form-item">
                        <!--  TODO: Сюда выводить сообщение об ошибки или успешном отправлении формы  -->
                        <div class="wpcf7-response-output wpcf7-display-none wpcf7-validation-errors" role="alert" style="display: block;">One or more fields have an error. Please check and try again.</div>
                    </div>

                    <div class="form-item form-item--action">
                        <button type="submit" class="btn btn--small">SEND</button>
                    </div>
                </div>
            </div>
        </section>
    </main>
</div>
<footer class="siteFooter">
    <nav class="siteFooter-nav clearfix">
        <div class="container">
            <div class="siteFooter-items footer">
                <ul class="footer-nav">
                    <li class="logo-footer-wrap"><img src="../../images/logo-footer.png" alt="logo" srcset=""></li>
                    <li><a href="#" class="js-toggle" aria-label="Open Navigation" data-toggle=".siteHeader-catalogue"><span class="siteFooter-btn">
                    <span></span>
                    <span></span>
                    <span></span>
                </span>
                        <span>Каталог товаров</span></a></li>
                    <li><a href="#">Акции</a></li>
                    <!-- <li><a href="#">Статьи</a></li> -->
                    <li><a href="#">О компании</a></li>
                    <li><a href="#">Оплата и Доставка</a></li>
                    <!-- <li><a href="#">Дилерские сертификаты</a></li> -->
                    <li><a href="#">Контакты</a></li>
                    <li> <div class="siteFooter-numbers">
                            <a href="tel:380500000000">+38 (050) 000 00 00</a>
                            <a href="tel:380500000000">+38 (050) 000 00 00</a>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="row">
                <div class="col-md-12 copyright">
                    <p>© Завод Лабораторного Оборудования 2018 Все права защищены</p>
                </div>
            </div>
        </div>
    </nav>
</footer>
</body>
</html>
