// Переменные для приложения и всех модулей

$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
$formBorder: none;
$formBorderRadius: 0;
$inputBorderRadius: 0;
$blue: #1185c2;
$yellow: #ffc230;
$green: #81b420;
$red: #f55e5e;
$grey: #dddddd;
$dark-grey: #7a7a7a;
$yellow-gradient: linear-gradient(to bottom, #ffd318 0%,#ffc230 100%);
$yellow-gradient-reverse: linear-gradient(to bottom, #ffc230 0%,#ffd318 100%);
$green-gradient: linear-gradient(to bottom, #93c025 0%,#6ea81b 100%);
$green-gradient-reverse: linear-gradient(to bottom, #6ea81b 0%,#93c025 100%);
$bg-gradient: linear-gradient(to right, #ffffff 0%,#f6f5f6 50%,#ffffff 100%);
$default-font: "OpenSansRegular", sans-serif;
$semibold-font: "OpenSansSemiBold", sans-serif;
$bold-font: "OpenSansBold", sans-serif;
$extrabold-font: "OpenSansExtraBold", sans-serif;
$italic-font: "OpenSansItalic", sans-serif;
$light-font: "OpenSansLight", sans-serif;