.benefitSection{
	background: url(../images/benef-bg.jpg) center no-repeat;
	background-size: cover;
}
.benefitsList {
	ul {
		list-style: none;
		padding: 0;
		margin: 0 0 20px;
		li {
			margin-bottom: 20px;
			display: flex;
			align-items: center;
			font-size: 13px;
			background: #fff;
			color: #000;
			font-weight: bold;
			&:after {
			    content: '';
			    display: table;
			    clear: both;
			}
			span {
				margin-right: 30px;
				img {
					min-height: 100%;
					min-width: 100%;
					max-height: 65px;
					max-width: 65px;
				}
			}
		}
	}
}