<div class="row">
    <div class="col-sm-6 col-md-4">
        <div class="categoryList-item">
            <div class="categoryList-img">
                <a href="#"><img src="images/product.png" alt=""></a>
            </div>
            <div class="categoryList-title">
                <a href="#">Анализатор влажности весовой МА 50.Х RADWAG</a>
            </div>
        </div>
    </div>
    <div class="col-sm-6 col-md-4">
        <div class="categoryList-item">
            <div class="categoryList-img">
                <a href="#"><img src="images/product-1.png" alt=""></a>
            </div>
            <div class="categoryList-title">
                <a href="#">Анализатор влажности весовой МА 50.Х RADWAG</a>
            </div>
        </div>
    </div>
    <div class="col-sm-6 col-md-4">
        <div class="categoryList-item">
            <div class="categoryList-img">
                <a href="#"><img src="images/product-2.png" alt=""></a>
            </div>
            <div class="categoryList-title">
                <a href="#">Анализатор влажности весовой МА 50.Х RADWAG</a>
            </div>
        </div>
    </div>
</div>