<!-- контактная форма с элементами CF7 -->
<div class="form form--contact">
    <div class="form-item form-item--half">
        <lable class="visually-hidden" for="cname">Your Name</lable>
        <input type="text" id="cname" name="cname" placeholder="Your Name">
    </div>
    <div class="form-item form-item--half">
        <lable class="visually-hidden" for="cemail">Your Email</lable>
        <!-- Class .wpcf7-not-valid from CF7-->
        <input type="text" id="cemail" name="cemail" placeholder="Your Email" class="wpcf7-not-valid">
        <!-- This span is CF7 element-->
        <span role="alert" class="wpcf7-not-valid-tip">The field is required.</span>
    </div>
    <div class="form-item">
        <lable class="visually-hidden" for="csubject">Subject</lable>
        <input type="text" id="csubject" name="csubject" placeholder="Subject">
    </div>
    <div class="form-item">
        <lable class="visually-hidden" for="cmessage">Your Message</lable>
        <textarea id="cmessage" name="cmessage" placeholder="Your Message"></textarea>
    </div>

    <div class="form-item">
        <!--  TODO: Сюда выводить сообщение об ошибки или успешном отправлении формы  -->
        <div class="wpcf7-response-output wpcf7-display-none wpcf7-validation-errors" role="alert" style="display: block;">One or more fields have an error. Please check and try again.</div>
    </div>

    <div class="form-item form-item--action">
        <button type="submit" class="btn btn--small">SEND</button>
    </div>
</div>
