<div class="row">
    <div class="col-sm-6 col-md-3">
        <div class="cooperationList-item">
            <div class="cooperationList-img">
                <a href="#"><img src="../../images/colab-img-1.jpg" alt=""></a>
            </div>
            <div class="cooperationList-text">
                <h3>Самый широкий ассортимент</h3>
                <p>более 1500 разновидностей лабораторного оборудования</p>
            </div>
        </div>
    </div>
    <div class="col-sm-6 col-md-3">
        <div class="cooperationList-item">
            <div class="cooperationList-img">
                <a href="#"><img src="../../images/colab-img-2.jpg" alt=""></a>
            </div>
            <div class="cooperationList-text">
                <h3>На весь продаваемый товар вы получаете</h3>
                <p>гарантию и сертификаты качества</p>
            </div>
        </div>
    </div>
    <div class="col-sm-6 col-md-3">
        <div class="cooperationList-item">
            <div class="cooperationList-img">
                <a href="#"><img src="../../images/colad-img-3.png" alt=""></a>
            </div>
            <div class="cooperationList-text">
                <h3>Менеджеры с медицинским образованием</h3>
                <p>помогут подобрать идеальное решение</p>
            </div>
        </div>
    </div>
    <div class="col-sm-6 col-md-3">     
        <div class="cooperationList-item">
            <div class="cooperationList-img">
                <a href="#"><img src="../../images/colad-img-4.png" alt=""></a>
            </div>
            <div class="cooperationList-text">
                <h3>Возврат товара</h3>
                <p>в случае брака за счет фирмы</p>
            </div>
        </div>
    </div>
</div>