<div class="filterList">
	<div class="tab_wrapper accordion_filter">
		<ul class="tab_list">
			<li>Производители</li>
			<li>Цена</li>
			<li>Максимальный вес, г</li>
		</ul>

		<div class="content_wrapper">
			<div class="tab_content active">
				<fieldset>
					<ul>
						<li>
						    <input type="checkbox" id="shimadzu" name="producer" value="coding">
						    <label for="shimadzu">Shimadzu (Япония)</label>
						</li>
						<li>
						    <input type="checkbox" id="radwag" name="producer" value="music">
						    <label for="radwag">Radwag (Польша)</label>
						</li>	
						<li>
						    <input type="checkbox" id="kett" name="producer" value="coding">
						    <label for="kett">Kett Electric Laboratory (Япония)</label>
						</li>
						<li>
						    <input type="checkbox" id="axis" name="producer" value="music">
						    <label for="axis">AXIS (Польша)</label>
						</li>	
						<li>
						    <input type="checkbox" id="kern" name="producer" value="coding">
						    <label for="kern">KERN (Германия)</label>
						</li>
						<li>
						    <input type="checkbox" id="ohaus" name="producer" value="music">
						    <label for="ohaus">Ohaus</label>
						</li>	
						<li>
						    <input type="checkbox" id="vesoizmeritel" name="producer" value="coding">
						    <label for="vesoizmeritel">Весоизмеритель (Украина)</label>
						</li>
						<li>
						    <input type="checkbox" id="mettler" name="producer" value="music">
						    <label for="mettler">Mettler Toledo (Швейцария)</label>
						</li>													
						<li>
						    <input type="checkbox" id="olis" name="producer" value="coding">
						    <label for="olis">Олис (Украина)</label>
						</li>
						<li>
						    <input type="checkbox" id="sartorius" name="producer" value="music">
						    <label for="sartorius">Sartorius AG (Германия)</label>
						</li>
					</ul>
				</fieldset>
			</div>
			<div class="tab_content">
				Price filter
			</div>
			<div class="tab_content">
				Weight filter
			</div>
		</div>
	</div>
</div>