<div class="filterList">
	<div class="filterList-category">
		<div class="filterList-category-item">
			<div class="filterList-category-img">
				<img src="images/product-1.png" alt="">
			</div>
			<div class="filterList-category-text">
				<a href="#">Кислородное оборудование и сопутствующие товары</a>
			</div>
		</div>
		<div class="filterList-category-item">
			<div class="filterList-category-img">
				<img src="images/product-2.png" alt="">
			</div>
			<div class="filterList-category-text">
				<a href="#">Кислородное оборудование и сопутствующие товары</a>
			</div>
		</div>
		<div class="filterList-category-item">
			<div class="filterList-category-img">
				<img src="images/product-3.png" alt="">
			</div>
			<div class="filterList-category-text">
				<a href="#">Отсасыватели хирургические</a>
			</div>
		</div>
		<div class="filterList-category-item">
			<div class="filterList-category-img">
				<img src="images/product-1.png" alt="">
			</div>
			<div class="filterList-category-text">
				<a href="#">Дозаторы шприцевые и насосы инфузионные</a>
			</div>
		</div>
		<div class="filterList-category-item">
			<div class="filterList-category-img">
				<img src="images/product-2.png" alt="">
			</div>
			<div class="filterList-category-text">
				<a href="#">Негатоскопы</a>
			</div>
		</div>
		<div class="filterList-category-item">
			<div class="filterList-category-img">
				<img src="images/product-3.png" alt="">
			</div>
			<div class="filterList-category-text">
				<a href="#">Офтальмологическое оборудование</a>
			</div>
		</div>
	</div>
</div>