<div class="row">
    <div class="col-sm-6 col-md-3">
        <div class="newsSet-item">
            <div class="newsSet-img">
                <a href="#"><img src="images/placeholder.jpg" alt=""></a>
            </div>
            <div class="newsSet-title">
                <a href="#">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</a>
            </div>
            <div class="newsSet-date">
                24.02.2018
            </div>
            <div class="newsSet-action">
                <a href="#" class="btn">Читать подробнее</a>
            </div>                    
        </div>
    </div>
    <div class="col-sm-6 col-md-3">
        <div class="newsSet-item">
            <div class="newsSet-img">
                <a href="#"><img src="images/placeholder.jpg" alt=""></a>
            </div>
            <div class="newsSet-title">
                <a href="#">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</a>
            </div>
            <div class="newsSet-date">
                24.02.2018
            </div>
            <div class="newsSet-action">
                <a href="#" class="btn">Читать подробнее</a>
            </div>                    
        </div>
    </div>
    <div class="col-sm-6 col-md-3">
        <div class="newsSet-item">
            <div class="newsSet-img">
                <a href="#"><img src="images/placeholder.jpg" alt=""></a>
            </div>
            <div class="newsSet-title">
                <a href="#">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</a>
            </div>
            <div class="newsSet-date">
                24.02.2018
            </div>
            <div class="newsSet-action">
                <a href="#" class="btn">Читать подробнее</a>
            </div>                    
        </div>
    </div>
    <div class="col-sm-6 col-md-3">
        <div class="newsSet-item">
            <div class="newsSet-img">
                <a href="#"><img src="images/placeholder.jpg" alt=""></a>
            </div>
            <div class="newsSet-title">
                <a href="#">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</a>
            </div>
            <div class="newsSet-date">
                24.02.2018
            </div>
            <div class="newsSet-action">
                <a href="#" class="btn">Читать подробнее</a>
            </div>                    
        </div>
    </div>
</div>
