<div class="row">
    <div class="col-sm-6 col-md-3">
        <div class="productList-item">
            <div class="productList-img">
                <a href="#"><img src="images/product.png" alt=""></a>
            </div>
            <div class="productList-title">
                <a href="#">Анализатор влажности весовой МА 50.Х RADWAG</a>
            </div>
            <div class="productList-price">
                4104 грн
            </div>
        </div>
    </div>
    <div class="col-sm-6 col-md-3">
        <div class="productList-item">
            <div class="productList-img">
                <a href="#"><img src="images/product-1.png" alt=""></a>
            </div>
            <div class="productList-title">
                <a href="#">Анализатор влажности весовой МА 50.Х RADWAG</a>
            </div>
            <div class="productList-price">
                <span>4320 грн</span>
                4104 грн
            </div>
        </div>
    </div>
    <div class="col-sm-6 col-md-3">
        <div class="productList-item">
            <div class="productList-banner productList-banner--leak">
                Осталось 3 ед.
            </div>
            <div class="productList-img">
                <a href="#"><img src="images/product-2.png" alt=""></a>
            </div>
            <div class="productList-title">
                <a href="#">Анализатор влажности весовой МА 50.Х RADWAG</a>
            </div>
            <div class="productList-price">
                <span>4320 грн</span>
                4104 грн
            </div>
        </div>
    </div>
    <div class="col-sm-6 col-md-3">
        <div class="productList-item">
            <div class="productList-banner productList-banner--sale">
                Скидка 21%
            </div>
            <div class="productList-img">
                <a href="#"><img src="images/product-3.png" alt=""></a>
            </div>
            <div class="productList-title">
                <a href="#">Анализатор влажности весовой МА 50.Х RADWAG</a>
            </div>
            <div class="productList-price">
                <span>4320 грн</span>
                4104 грн
            </div>
        </div>
    </div>
</div>