<div class="productContainer">
	<div class="row">
		<div class="col-sm-12 col-md-4">
			<div class="productContainer-img">
				<img src="images/1.png" alt="">
			</div>
		</div>
		<div class="col-sm-12 col-md-8">
			<div class="productContainer-title">
				<h2>Микровесы Radwag MYA 5.4Y.F d 100mm (для взвешивания фильтров)</h2>
			</div>
			<div class="row">
				<div class="col-sm-6 col-md-6">
					<div class="productContainer-art">
						Артикул: <span>15-00010</span>
					</div>
					<div class="productContainer-price">
						410 875 грн
					</div>
					<div class="productContainer-exprice">
						456 527 грн
					</div>
					<div class="productContainer-quantity clearfix">
						<div class="productContainer-num">
							<div class="quantity-block">
							  <input type="number" class="quantity-num" value="1" />
							  <div class="quantity-arrow plus"></div>
							  <div class="quantity-arrow minus"></div>
							</div>
						</div>
						<a href="#" class="btn btn-primary">Купить</a>
					</div>
				</div>
				<div class="col-sm-6 col-md-6">
					<div class="productContainer-info">
						<div class="productContainer-delivery">Доставка</div>
						<ul>
							<li>Бесплатная доставка по Украине</li>
							<li>В отделение Новой почты</li>
							<li>Курьерская доставка</li>
						</ul>
					</div>
					<div class="productContainer-info">
						<div class="productContainer-payment">Оплата</div>
						<ul>
							<li>Наличными</li>
							<li>Оплата картой</li>
						</ul>
					</div>
				</div>
			</div>
			<div class="productContainer-action">
				<a href="#" class="btn">Получить информацию</a>
				<a href="#" class="btn">Получить документацию</a>
			</div>
		</div>
	</div>
	<div class="tab_wrapper demo">

  <ul class="tab_list">
    <li class="active">Описание</li>
    <li>Отзывы</li>
    <li>Доставка</li>
    <li>Сервис</li>
  </ul>

  <div class="content_wrapper">
    <div class="tab_content active">
      	<h3>Lorem ipsum dolor</h3>
      	<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent malesuada lorem ac sapien faucibus, eget hendrerit tortor faucibus. Maecenas ac nisl eu augue vulputate venenatis. Vivamus accumsan, ipsum id cursus facilisis, urna dui tincidunt dolor, at vehicula tortor enim sed arcu. Aenean faucibus lorem tellus, eu venenatis dui tristique nec. Donec sagittis, augue a tempor posuere, justo tortor facilisis ante, sit amet pharetra dui erat quis urna. Nunc purus sem, semper ac imperdiet quis, placerat egestas lectus. Vestibulum consequat sem et mi tincidunt condimentum in sed nisi. Vestibulum tristique orci id iaculis vulputate. Aenean posuere vitae tellus sit amet facilisis.</p>
		<p>Donec elementum, tellus quis hendrerit auctor, turpis urna venenatis orci, eu suscipit magna nisi ac sapien. Donec fringilla tristique tortor, et vulputate ipsum placerat sed. Sed ac erat in est elementum bibendum. Donec scelerisque libero quis tempus condimentum. Mauris tristique in nisl non euismod. Sed elementum nisi sed justo bibendum, in dignissim justo blandit. Morbi sed malesuada tortor. In a porttitor neque. Cras nec orci at magna sodales cursus. Etiam blandit libero sollicitudin sapien scelerisque egestas. Maecenas faucibus orci sit amet est scelerisque hendrerit. Nulla sodales dignissim arcu ut lobortis. Fusce bibendum sagittis dictum. Donec blandit, mi dapibus efficitur congue, est ligula dignissim arcu, vel tristique mi lacus vel ligula.</p>
		<h3>Etiam dapibus aliquet</h3>
		<p>Interdum et malesuada fames ac ante ipsum primis in faucibus. Mauris eget neque eu mauris tempor aliquam vel eget arcu. Sed semper dui vel augue ullamcorper ultrices. In blandit aliquam dolor, varius interdum turpis fermentum et. Fusce porttitor urna sit amet odio volutpat, at facilisis massa cursus. Nam sem ligula, pellentesque eget odio at, aliquam vestibulum ligula. Vivamus laoreet, risus a venenatis tincidunt, nulla enim pulvinar urna, in dapibus urna urna at sapien. Mauris ac felis non nisi placerat commodo. Duis eget mollis elit, ac mollis nunc. Vestibulum eu pharetra nisl. Aliquam ornare, lorem sit amet porta auctor, metus turpis rutrum nulla, pulvinar pharetra nibh ante in nisl. Pellentesque posuere odio a lectus mollis, eu rhoncus lectus cursus. Nullam gravida iaculis eros sit amet rhoncus. Nunc quis tellus vel metus elementum dictum. In gravida elit vel enim porttitor, vel scelerisque velit convallis. Quisque sed dui justo.</p>
		<p>Quisque leo metus, posuere in maximus ac, eleifend et nisi. Sed hendrerit tempus ante, sed convallis mauris. Integer congue vehicula egestas. Duis non commodo metus, ut euismod orci. Integer vestibulum mollis leo sit amet lacinia. Morbi eget auctor metus. Vestibulum tempus lorem vulputate elit luctus commodo.</p>
		<h3>Quisque scelerisque, justo vel</h3>
		<p>Ut ut scelerisque sem. Donec porta dolor sit amet tortor bibendum, nec semper eros euismod. Duis porta, magna et efficitur semper, ex magna eleifend augue, vel sodales metus magna eget tortor. Nullam lacinia, metus eget pellentesque rutrum, lacus nulla laoreet quam, quis suscipit justo nibh id sem. Morbi bibendum sit amet velit at sollicitudin. Sed vitae turpis ut ante molestie bibendum. Aliquam dictum sem eget sem eleifend pharetra. Etiam a ex lectus.</p>
    </div>

    <div class="tab_content">
      <h3>Отзывы</h3>
    </div>

    <div class="tab_content">
      <h3>Доставка</h3>
    </div>

    <div class="tab_content">
      <h3>Сервис</h3>
    </div>
  </div>

</div>
</div>