<div class="setsList">
	<div class="js-slider">
		<div class="setsList-item">
			<div class="row">
				<div class="col-xs-5 col-md-3">
					<div class="productList-item">
			            <div class="productList-img">
			                <a href="#"><img src="images/product.png" alt=""></a>
			            </div>
			            <div class="productList-title">
			                <a href="#">Анализатор влажности весовой МА 50.Х RADWAG</a>
			            </div>
			            <div class="productList-price">
			                4104 грн
			            </div>
			        </div>
				</div>
				<div class="col-xs-2 col-md-1">
					<div class="setsList-plus">
						+
					</div>
				</div>
				<div class="col-xs-5 col-md-3">
					<div class="productList-item">
			            <div class="productList-banner productList-banner--sale">
			                Скидка 21%
			            </div>
			            <div class="productList-img">
			                <a href="#"><img src="images/product-3.png" alt=""></a>
			            </div>
			            <div class="productList-title">
			                <a href="#">Анализатор влажности весовой МА 50.Х RADWAG</a>
			            </div>
			            <div class="productList-price">
			                <span>4320 грн</span>
			                4104 грн
			            </div>
			        </div>
				</div>
				<div class="hidden-xs col-md-1">
					<div class="setsList-equal">	
						=
					</div>
				</div>
				<div class="col-xs-12 col-md-4">
					<div class="setsList-exprice">
						518 250 грн.
					</div>
					<div class="setsList-price">
						517 200 грн.
					</div>
					<div class="u-text--center"><a href="#" class="btn btn-secondary">Заказать комплект</a></div>
				</div>
			</div>
		</div>
		<div class="setsList-item">
			<div class="row">
				<div class="col-xs-5 col-md-3">
					<div class="productList-item">
			            <div class="productList-img">
			                <a href="#"><img src="images/product.png" alt=""></a>
			            </div>
			            <div class="productList-title">
			                <a href="#">Анализатор влажности весовой МА 50.Х RADWAG</a>
			            </div>
			            <div class="productList-price">
			                4104 грн
			            </div>
			        </div>
				</div>
				<div class="col-xs-2 col-md-1">
					<div class="setsList-plus">
						+
					</div>
				</div>
				<div class="col-xs-5 col-md-3">
					<div class="productList-item">
			            <div class="productList-banner productList-banner--sale">
			                Скидка 21%
			            </div>
			            <div class="productList-img">
			                <a href="#"><img src="images/product-3.png" alt=""></a>
			            </div>
			            <div class="productList-title">
			                <a href="#">Анализатор влажности весовой МА 50.Х RADWAG</a>
			            </div>
			            <div class="productList-price">
			                <span>4320 грн</span>
			                4104 грн
			            </div>
			        </div>
				</div>
				<div class="hidden-xs col-md-1">
					<div class="setsList-equal">	
						=
					</div>
				</div>
				<div class="col-xs-12 col-md-4">
					<div class="setsList-exprice">
						518 250 грн.
					</div>
					<div class="setsList-price">
						517 200 грн.
					</div>
					<div class="u-text--center"><a href="#" class="btn btn-secondary">Заказать комплект</a></div>
				</div>
			</div>
		</div>
	</div>
</div>