<div class="siteTeaser">
    <div class="container">
		<div class="row">
			<div class="col-md-8">
				<div class="siteTeaser-title">Lorem ipsum dolor</div>
				<div class="siteTeaser-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam eget ultrices sem. Sed ultricies pellentesque nulla, eget aliquet lacus eleifend ac. Vivamus semper, elit quis suscipit cursus, urna dolor tincidunt erat, a consequat est ex ut orci. Quisque sed risus pharetra, aliquam magna a, iaculis magna. Fusce sagittis urna.</div>
				<a href="#" class="btn btn-secondary btn--big">Читать далее</a>
			</div>
		</div>
	</div>
</div>